{% extends "base.html" %}

{% block title %}Change log - {% endblock %}

{% block content %}

{% include 'navigation-standard.html' %}

<div class="header-wrap" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    Change log
                </h1>
                <p>
                    See how Push Monkey evolves with bug fixes and new features for each version.
                </p>
            </div><!-- .col- -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .header-wrap -->

<div class="container" id="help">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <br /></br />


<h4 id="toc_0">v 1.4.0</h4>

<ul>
<li>added segmentation</li>
<li>changed default colors</li>
</ul>

<h4 id="toc_1">v 1.3.3</h4>

<ul>
<li>fix permalink bugs</li>
</ul>

<h4 id="toc_2">v 1.3.2</h4>

<ul>
<li>fix notifications that don&#39;t remain on the screen</li>
<li>other bug fixes</li>
</ul>

<h4 id="toc_3">v 1.3.1</h4>

<ul>
<li>fix missing URL after update</li>
</ul>

<h4 id="toc_4">v 1.3</h4>

<ul>
<li>major overhaul of the system and back-end. HTTPS is no longer required.</li>
</ul>

<h4 id="toc_5">v 1.2</h4>

<ul>
<li>allow the customisation of the subscribe button</li>
</ul>

<h4 id="toc_6">v 1.1.1</h4>

<ul>
<li>fix CSS on banner</li>
<li>remove banner on unsupported browsers</li>
</ul>

<h4 id="toc_7">v 1.1</h4>

<ul>
<li>fix CSS conflicts</li>
<li>fix some missing banner positions</li>
<li>fix the rewrite rules</li>
</ul>

<h4 id="toc_8">v 1.0.2</h4>

<ul>
<li>remove logging</li>
</ul>

<h4 id="toc_9">v 1.0.1</h4>

<ul>
<li>fix layout issues</li>
<li>add some missing files</li>
</ul>

<h4 id="toc_10">v 1.0</h4>

<ul>
<li>added Chrome integration</li>
<li>added Firefox integration</li>
<li>fixed some layout bugs</li>
<li>updated the subscription banners</li>
</ul>

<h4 id="toc_11">v 0.9.9.9.5</h4>

<ul>
<li>fix CSS conflicts</li>
<li>test on Wordpress 4.6.1</li>
</ul>

<h4 id="toc_12">v 0.9.9.9.4</h4>

<ul>
<li>bugfixing: scheduled posts now send push notifications again.</li>
</ul>

<h4 id="toc_13">v 0.9.9.9.3</h4>

<ul>
<li>update stats layout</li>
</ul>

<h4 id="toc_14">v 0.9.9.9.2</h4>

<ul>
<li>add option to disable CTA banners on homepage only, while being enabled on all oher pages</li>
</ul>

<h4 id="toc_15">v 0.9.9.9.1</h4>

<ul>
<li>fix PHP 5.2 compatibility</li>
</ul>

<h4 id="toc_16">v 0.9.9.9.0</h4>

<ul>
<li>language adjusting</li>
</ul>

<h4 id="toc_17">v 0.9.9.8.9</h4>

<ul>
<li>allow CTA Banner customisation of color and text</li>
</ul>

<h4 id="toc_18">v 0.9.9.8.8</h4>

<ul>
<li>caching update</li>
<li>update Sign Up screen</li>
</ul>

<h4 id="toc_19">v 0.9.9.8.7</h4>

<ul>
<li>bugfixing</li>
</ul>

<h4 id="toc_20">v 0.9.9.8.6</h4>

<ul>
<li>bugfixing</li>
</ul>

<h4 id="toc_21">v 0.9.9.8.5</h4>

<ul>
<li>bugfixing</li>
</ul>

<h4 id="toc_22">v 0.9.9.8.4</h4>

<ul>
<li>remove shortcodes from Push Notification</li>
<li>fix double escaping of Custom Push Notifications</li>
<li>add Welcome Notice</li>
<li>fix notification before trial expires</li>
</ul>

<h4 id="toc_23">v 0.9.9.8.3</h4>

<ul>
<li>display notification before trial plan expires</li>
</ul>

<h4 id="toc_24">v 0.9.9.8.2</h4>

<ul>
<li>display notification when the trial plan expired</li>
</ul>

<h4 id="toc_25">v 0.9.9.8.1</h4>

<ul>
<li>bugfix</li>
</ul>

<h4 id="toc_26">v 0.9.9.8</h4>

<ul>
<li>fewer requests to Push Monkey API to improve page load speed</li>
<li>allow websites to upgrade the price plan </li>
<li>show notification for expired plans</li>
</ul>

<h4 id="toc_27">v 0.9.9.7</h4>

<ul>
<li>CSS bugfixing for some WP Themes</li>
</ul>

<h4 id="toc_28">v 0.9.9.6</h4>

<ul>
<li>banner improvements: remember users who disabled the banner, improved animations</li>
<li>you can now filter which custom post types send Desktop Push Notifications</li>
</ul>

<h4 id="toc_29">v 0.9.9.5</h4>

<ul>
<li>more advanced granular filtering. You can now choose which custom post types send Sfari Push Notifications</li>
</ul>

<h4 id="toc_30">v 0.9.9.4</h4>

<ul>
<li>bugfixing</li>
</ul>

<h4 id="toc_31">v 0.9.9.3</h4>

<ul>
<li>bugfixing</li>
</ul>

<h4 id="toc_32">v 0.9.9.2</h4>

<ul>
<li>bugfixing</li>
</ul>

<h4 id="toc_33">v 0.9.9.1</h4>

<ul>
<li>bugfixing</li>
</ul>

<h4 id="toc_34">v 0.9.9</h4>

<ul>
<li>on-boarding workflow overhaul: now easier than ever. No more waiting. Account Key wat? </li>
<li>layout update</li>
<li>code cleanup</li>
<li>bugfixing</li>
</ul>

<h4 id="toc_35">v 0.9.8.2</h4>

<ul>
<li>bugfixing</li>
</ul>

<h4 id="toc_36">v 0.9.8</h4>

<ul>
<li>bugfixing</li>
</ul>

<h4 id="toc_37">v 0.9.7</h4>

<ul>
<li>bugfixing</li>
<li>UI updates</li>
<li>typos fixed</li>
</ul>

<h4 id="toc_38">v 0.9.6</h4>

<ul>
<li>bugfixing</li>
</ul>

<h4 id="toc_39">v 0.9.5</h4>

<ul>
<li>fix HTML tags in preview</li>
<li>fix conflict with TinyMCE Advanced</li>
</ul>

<h4 id="toc_40">v 0.9.4</h4>

<ul>
<li>fix some tags that used required the PHP setting short<em>open</em>tag to be on</li>
</ul>

<h4 id="toc_41">v 0.9.3</h4>

<ul>
<li>fix double usage of title</li>
<li>fix possible CSS overwrite</li>
</ul>

<h4 id="toc_42">v 0.9.2</h4>

<ul>
<li>prepare assets and folder structure for WordPress.org SVN</li>
</ul>

<h4 id="toc_43">v 0.9.1</h4>

<ul>
<li>replace iframes with API calls</li>
<li>reorganize code in classes</li>
</ul>

<h4 id="toc_44">v 0.9</h4>

<ul>
<li>add confirmation for Custom Push Notification widget</li>
<li>minor code cleanup</li>
</ul>

<h4 id="toc_45">v 0.8.8</h4>

<ul>
<li>add option to disable push notifications while editing a Post</li>
<li>add push notification preview while editing a Post</li>
<li>moved settings page to top leve</li>
<li>test on WP 4.0</li>
</ul>

<h4 id="toc_46">v 0.8.7</h4>

<ul>
<li>add dashboard widget for custom notifications</li>
</ul>

<h4 id="toc_47">v 0.8.6</h4>

<ul>
<li>add menu page for configuring this plugin.</li>
<li>add option to exclude certain post categories 
from sending push notifications</li>
<li>visual tweaks</li>
</ul>

<h4 id="toc_48">v 0.8.5</h4>

<ul>
<li>move the endpoint URL to a more generic location.</li>
</ul>

<h4 id="toc_49">v 0.8.4</h4>

<ul>
<li>limit $post-&gt;post_type to &#39;post&#39;, to filter out pages.</li>
<li>test on WP 3.9.</li>
<li>add uninstall.php</li>
</ul>


 
        </div>
    </div><!-- .row -->
</div><!-- .container -->
{% endblock %}