<footer id="colophon" class="website-footer">
  <div class="site-inner">
    <div class="col-sm-6">
      <h4>Community</h4>
      <div class="menu-community-menu-container"><ul id="menu-community-menu" class="footer-menu footer-halfmenu"><li id="menu-item-193" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-193"><a href="{% url 'team' %}">Meet the team</a></li>
<li id="menu-item-171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-171"><a href="http://blog.getpushmonkey.com/desktop-push-notifications-work-subscribe/?source=home">How does it work</a></li>
<li id="menu-item-169" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-169"><a href="http://blog.getpushmonkey.com/2014/10/40-million-macs-can-receive-push-notifications-desktop/?source=home">How many readers?</a></li>
<li id="menu-item-194" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-194"><a href="{% url 'affiliates_join' %}">Push Monkey Affiliate Program</a></li>
<li id="menu-item-172" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-172"><a href="http://blog.getpushmonkey.com/2014/10/websites-supporting-safari-desktop-push-notifications/?source=home">Who uses push notifications?</a></li>
</ul></div>    </div>
    <div class="col-sm-3">
      <h4>Other Links</h4>
      <div class="menu-other-links-menu-container"><ul id="menu-other-links-menu" class="footer-menu"><li id="menu-item-270" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-270"><a href="{% url 'redeem_coupon' %}">Redeem Coupon</a></li>
<li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174"><a href="http://blog.getpushmonkey.com">Blog</a></li>
<li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252"><a href="{% url 'changelog_wordpress'%}">Change log</a></li>
<li id="menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-195"><a href="{% url 'help' %}">Help</a></li>
</ul></div>    </div>
    <div class="col-sm-3"> <img src="{{ STATIC_URL }}images/comodo_secure_img.png" alt="Desktop"> </div>
  </div>
  <div class="footer-copyright text-center">
    <div class="site-inner">
      <div class="site-info"> <span class="site-title"> Copyright © 2016 <a href="/" rel="home">Push Monkey</a> All Right Reserved. </span> </div>
      <!-- .site-info --> 
    </div>
  </div>
</footer>