{% extends "base.html" %}

{% block title %}Help &amp; FAQ - {% endblock %}

{% block content %}
<div class="header-background inner-background">
    <div class="site-inner">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

        {% include 'navigation-sticky.html' %}
        
        <div class="fullheader-banner inner-banner text-left">
        <div class="container">
        
        <h3>Help</h3>
        <h4>Knowledge-Base, Self-Service Support. Everything you wanted to know about the details that make Push Monkey...push.</h4>
        
        </div>
        </div>
        
        
        </div>
        </div>

<div class="site-inner">
        <div id="content" class="website-content">
<div id="primary" class="webcontent-area">
    <main id="main" class="site-main">
        
<article id="post-34" class="post-34 page type-page status-publish hentry">
    <header class="entry-header">
        <h1 class="entry-title">Help</h1>   </header><!-- .entry-header -->

    
    <div class="webentry-content">
        <div class="vc_row wpb_row vc_row-fluid helpsection-first"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  helpsection-text">
        <div class="wpb_wrapper">
            <p><strong>Need help getting started?</strong><br>
It just takes 3 easy steps to enable your Mac readers to receive push notifications directly on their desktop…</p>
<p><a class="getpush-now" href="http://blog.getpushmonkey.com/2014/11/push-monkey-now-available-download-wordpress/?source=help">Read More</a></p>

        </div>
    </div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  helpsection-text">
        <div class="wpb_wrapper">
            <p><strong>Best practices</strong><br>
There are a few things to consider when sending out pushes in order for both you and your readers to …</p>
<p><a class="getpush-now" href="https://blog.getpushmonkey.com/2014/10/doctor-whats-best-way-push/?source=help">Read More</a></p>

        </div>
    </div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  helpsection-text">
        <div class="wpb_wrapper">
            <p><strong>How Desktop Push Notifications Work</strong><br>
As a reader, it lets you receive notifications on your desktop similar to the ones in the picture whenever a website that you have subscribed to has new content.</p>
<p><a class="getpush-now" href="http://blog.getpushmonkey.com/desktop-push-notifications-work-subscribe/?source=help">Read More</a></p>

        </div>
    </div>
</div></div></div></div>
    <div class="wpb_text_column wpb_content_element  no-margin blue-coolor">
        <div class="wpb_wrapper">
            <p>Have questions not answered here?<br>
Contact us at<br>
<a class="btn btn-success" href="mailto:hello@getpushmonkey.com">hello@getpushmonkey.com</a></p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid helpsection-second"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div id="backtop" class="vc_row wpb_row vc_inner vc_row-fluid helpsection-questionbox"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  helpsection-question">
        <div class="wpb_wrapper">
            <h2>Frequently Asked Questions</h2>
<ul>
<li><a href="#gpm">What are desktop push notifications?</a></li>
<li><a href="#gpm0">What’s the difference between Desktop push notifications, web push notifications, Safari Push Notifications and browser push notifications?</a></li>
<li><a href="#gpm3">How do my readers subscribe to desktop push notifications which I send?</a></li>
<li><a href="#gpm16">How can I sign up to Push Monkey?</a></li>
<li><a href="#gpm6">Where is the Push Monkey Dashboard?</a></li>
<li><a href="#gpm4">What do the stats on the Push Monkey mean?</a></li>
<li><a href="#gpm7">Is there a free or trial plan?</a></li>
<li><a href="#gpm8">When are desktop push notifications sent?</a></li>
<li><a href="#gpm9">Can I write a new post without sending a desktop push notification?</a></li>
<li><a href="#gpm10">How does the disabling of push notifications from the Post editing page work?</a></li>
<li><a href="#gpm11">Can I send a desktop push notification without publishing a new post?</a></li>
<li><a href="#gpm12">How many desktop push notifications should I send?</a></li>
<li><a href="#gpm13">How many desktop push notifications can I send?</a></li>
<li><a href="#gpm14">How do you count sent desktop push notifications?</a></li>
<li><a href="#gpm15">Can I use Google Analytics to track readers who open push notifications?</a></li>
<li><a href="#gpm17">Why display a banner prompting the users to sign up?</a></li>
<li><a href="#gpm18">When does the banner appear?</a></li>
<li><a href="#gpm19">Where does the banner appear?</a></li>
<li><a href="#gpm20">Can I disable the banner?</a></li>
<li><a href="#gpm21">How to cancel my Push Monkey account.</a></li>
<li><a href="#gpm5">Can I sign up for the Fixed Priced plan after going trough the Free Trial plan?</a></li>
<li><a href="#gpm22">What is segmentation? What are segments?</a></li>
</ul>

        </div>
    </div>
</div></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid helpsection-third"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div id="gpm" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>What are desktop push notifications?</h3>
<p>Desktop Push Notifications are the most direct and intimate way that your loyal readers can stay up to date with your content.</p>

        </div>
    </div>
</div></div></div></div><div id="gpm0" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>What’s the difference between Desktop push notifications, web push notifications, Safari Push Notifications and browser push notifications?</h3>
<p>There is no difference. Apple calls them Safari Push Notifications and we use Desktop Push Notifications because we fell that this term expresses their role a bit more clear. Also, we can’t just use the “Safari” part, because we will soon release desktop push notifications for the other browsers as well.</p>

        </div>
    </div>
</div></div></div></div><div id="gpm3" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>How do my readers subscribe to desktop push notifications which I send?</h3>
<p>Easy-peasy. When they navigate to your website in Safari 7 (or newer), on OS X Mavericks (or newer), they will automatically receive a prompt asking them if they would like to subscribe. Done.</p>
<p><img class="aligncenter size-full wp-image-287" src="{{ STATIC_URL }}images/post-push-notification-announce-alert-gif.gif" alt="post-push-notification-announce-alert-gif" width="700" height="600"></p>

        </div>
    </div>
</div></div></div></div><div id="gpm16" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>How can I sign up to Push Monkey?</h3>
<p>There are 2 options:</p>
<ul>
<li>Directly from you WordPress Admin, by installing the <a href="https://wordpress.org/plugins/push-monkey-desktop-push-notifications/stats/">Push Monkey WordPress plugin </a>and going to the settings page</li>
<li>From <a href="https://www.getpushmonkey.com/">getpushmonkey.com</a></li>
</ul>

        </div>
    </div>
</div></div></div></div><div id="gpm6" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>Where is the Push Monkey Dashboard?</h3>
<p>The dashboard is the first screen you see after signing in on <a href="https://getpushmonkey.com/login">getpushmonkey.com</a>.</p>

        </div>
    </div>
</div></div></div></div><div id="gpm4" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>What do the stats on the Push Monkey mean?</h3>

        </div>
    </div>

    <div class="wpb_single_image wpb_content_element vc_align_center">
        
        <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="{{ STATIC_URL }}images/push-monkey-stats-explanation.png" width="1224" height="546" alt="push-monkey-stats-explanation" title="push-monkey-stats-explanation"></div>
        </figure>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p><strong>1.</strong> “Sent Notifications” represent the total number of notifications delivered in a month. The equation is number of subscribers * number of posts.</p>
<p><strong>2.</strong> “Subscribers” represents your audience, the number of people who can receive Desktop Push Notifications sent by your website.</p>
<p><strong>3.</strong> “Posts” stands for the number of posts and custom push notifications you have sent in that month.</p>
<p><strong>4.</strong> This is a donut chart displaying how much of your plan’s quota you have used this month.</p>
<p><strong>5.</strong> This charts shows how many notifications you have sent in the previous 7 days and how many of these notifications have been opened. Sometimes the number of opened notifications is quite low, but that is normal.</p>
<p><a>back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm8" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>When are desktop push notifications sent?</h3>
<p>By default, desktop push notifications are sent after you publish a new post. The moment a new post goes into “Published” status in your WordPress Admin, our server is ready to notifiy all your subscribed readers.</p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm9" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>Can I write a new post without sending a desktop push notification?</h3>
<p>Indeed you can. Depending on the purpose of what your writing is you can find yourself in one of the following situations:</p>
<ul>
<li>You can configure the Push Monkey Plugin to exclude posts that belong to certain categories.</li>
<li>On the post writing screen, inside WordPress, there is a widget with a checkbox to disable push notifications for that specific post. If checked, no notifications are sent, under no circumstances.</li>
<li>Writing a draft post. Drafts don’t send desktop push notifications. Only when a draft becomes published there is the possibility to send desktop push notifications.</li>
</ul>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm10" class="vc_row wpb_row vc_inner vc_row-fluid" tabindex="-1"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>How does the disabling of push notifications from the Post editing page work?</h3>
<p>When disabling push notifications from the widget visible on the post edit page, the plugin knows to not tell our servers that a notification should be sent. Full stealth mode: ON.</p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm7" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>Is there a free or trial plan?</h3>
<p>Sure. If you’d like to just give push notifications a test, register for an account in <a href="http://getpushmonkey.com/login">here</a> and when prompted to choose a pricing plan, select the “Start FREE Trial” button.</p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm11" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>Can I send a desktop push notification without publishing a new post?</h3>
<p>Sure. We call them custom push notifications. There is a widget on the WordPress admin dashboard just for that.</p>
<p>[Screenshot of custom push notifications]()</p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm15" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>Can I use Google Analytics to track readers who open push notifications?</h3>
<p>You sure can. Everytime a reader clicks on a push notification, he will be arrive on your webpage with a specific query string in the URL. This query string looks something like yourwebsite.com/cool-article?source=push_monkey</p>
<p>This URL can be seen in the Google Analytics stats.</p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm14" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>How do you count sent desktop push notifications?</h3>
<p>Let’s say you have 1000 subscribers and you posted 2 articles that have sent desktop push notifications. That means that 2000 notifications have been sent.</p>
<p>Sent desktop push notifications = number of subscibers * number of posts.</p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm13" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>How many desktop push notifications can I send?</h3>
<p>This depends on the price plan you chose. If you are on the trial plan, you could consider yourself limitless. The aim of the trial plan is to discover which price plan would fit you best.</p>
<p>If you already chose a price plan, the limit is indicared in your Dashboard.</p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm17" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>Why display a banner prompting the users to sign up?</h3>
<p>Displaying a visual cue to let your readers know about Desktop Push Notifications can lead to increased number of subscribers. The banners are meant to be nonobstructive and can be dismissed.</p>
<p>The banner has the message <em>“Stay up to date with [Website Name] Open this website in Safari to sign up for Desktop Push Notifications” and an icon.</em></p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm18" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>When does the banner appear?</h3>
<p>The banner appears when readers come to your website from Macs, but use any browser other than Safari, the banner appears. When accessing your website from Windows or Linux, your readers see no banner.</p>
<p>After dismissing the banner twice, the banner is no longer displayed.</p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm19" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>Where does the banner appear?</h3>
<p>On every page of your WordPress site and the position is up to you. In your WordPress admin, under Push Monkey settings you can choose between a few positions on the screen.</p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm21" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>How to cancel my Push Monkey account.</h3>
<p><strong>First option:</strong> Shoot us an email at hello@getpushmonkey.com asking us for this. No questions asked, but any kind of feedback is warmly encouraged.</p>
<p><strong>Second option:</strong> You can cancel your PayPal subscription directly from your PayPal account. <a href="https://www.paypal.com/us/webapps/helpcenter/helphub/article/?solutionId=FAQ2327" target="_blank">More info here</a>, under the section “Canceling a recurring payment, subscription or automatic billing agreement”.</p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>
</div></div></div></div><div id="gpm12" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>How many desktop push notifications should I send?</h3>
<p>That is up to you, depending on the type and frequency of your content. Because desktop push notifications are a direct connection to your reader’s desktop, it’s recommended not to spam them. There is a very high chance that your readers will read the notification, so that space is very valuable.</p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>

    <div class="wpb_single_image wpb_content_element vc_align_left">
        
        <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="{{ STATIC_URL }}images/push-monkey-stats-explanation-150x150.png" class="vc_single_image-img attachment-thumbnail" alt="push-monkey-stats-explanation"></div>
        </figure>
    </div>
</div></div></div></div><div id="gpm20" class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>Can I disable the banner?</h3>
<p>Yes. To do so select the “Disabled” option from the Dropdown.</p>
<p><a href="#backtop">back to top</a></p>

        </div>
    </div>

    <div class="wpb_single_image wpb_content_element vc_align_left">
        
        <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="{{ STATIC_URL }}images/banner-screenshot-2.jpg" width="640" height="305" alt="banner-screenshot-2" title="banner-screenshot-2"></div>
        </figure>
    </div>
</div></div></div></div>

<div id="gpm5" class="vc_row wpb_row vc_inner vc_row-fluid">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h3>Can I sign up for the Fixed Priced plan after going trough the Free Trial plan?</h3>
            <p>For sure. Currently our Fixed Price plan is available over at <a title="Binpress Push Monkey page" href="http://www.binpress.com/app/push-monkey-native-desktop-push-notifications-for-wordpress/2706" target="_blank">Binpress</a> or at <a title="Code Canyone Push Monkey page" href="http://codecanyon.net/item/push-monkey-native-desktop-push-notifications/10543634?ref=mowow" target="_blank">Code Canyon</a>.</p>
            <p>To make the transition:</p>
            <p><strong>1. </strong>Go into your WordPress Admin -&gt; Plugins, deactivate and delete the current version of the plugin. No worries, no data will be lost.</p>
            <p><strong>2. </strong>Download the .zip file from <a title="Binpress Push Monkey page" href="http://www.binpress.com/app/push-monkey-native-desktop-push-notifications-for-wordpress/2706" target="_blank">Binpress</a> or <a title="Code Canyone Push Monkey page" href="http://codecanyon.net/item/push-monkey-native-desktop-push-notifications/10543634?ref=mowow" target="_blank">Code Canyon</a>.</p>
            <p><strong>3. </strong>Upload this .zip file in your WordPress plugins.</p>
            <p><strong>4. </strong>Activate the newly installed Push Monkey plugin.</p>
            <p><strong>5. </strong>Go to the Push Monkey Settings screen (from the left menu in your WordPress Admin) and Sign In with the credentials you already know.</p>
            <p><strong>6. </strong>Done!</p>
            <p><a href="#backtop">back to top</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="gpm22" class="vc_row wpb_row vc_inner vc_row-fluid">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h3>What is segmentation? What are segments?</h3>
            <p>Market segmentation is a marketing strategy that involves dividing a broad target market into subsets of consumers who have common needs and desires as well as common applications for the relevant goods and services.</p>
            <p>Push Monkey allows you to define various segments, also known as topics, for the notifications that you will be sending.</p>
            <p>Subscribers that have selected their topics of interest, will only receive relevant notifications.</p>
            <p>If the subscribers have not specified their preferences, they will receive all push notification.</p>
            <p><a href="#backtop">back to top</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div></div></div></div>
    </div><!-- .entry-content -->

    
</article><!-- #post-## -->

    </main><!-- .site-main -->

    
</div><!-- .content-area -->

</div>

<!-- .website-content -->

</div>        
{% endblock %}

{% block closingjs %}
<script type="text/javascript">
!function ($) {
    $(function(){
            var $root = $('html, body');
            $('ul li a, a.to-top').click(function(e) {
                    e.preventDefault();
                    var href = $.attr(this, 'href');
                    $(href).addClass('active');
                    $(href).siblings().removeClass('active');
                    var offset = 100;
                    var top = $(href).offset().top - offset;
                    $root.animate({
                            scrollTop: top
                        }, 800, function () {
                        });
                });
        })
}(window.jQuery)
</script>
{% endblock %}
