<header id="masthead" class="website-header">
  <div class="site-header-main">              
    <div class="header-top">
      <div class="logo">
        <a href="/">  <img src="{{ STATIC_URL }}images/getpushmonkey-logo.png" alt="Get Push Monkey"> </a>
      </div>

      <div class="signbox">
        <nav class="maintop-navigation" aria-label="Header Menu">
          <div class="menu-login-button-container">
            <ul id="menu-login-button" class="headertop-menu">
              {% if user.is_authenticated %}

              <li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246">
                <span class="username">Hey {{ user.first_name }}!</span>
              </li>
              <li id="menu-item-248" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-248">
                <a href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              <li id="menu-item-247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-247">
                <a href="{% url 'logout' %}">Log out</a>
              </li>                            
              {% else %}
              <li class="menu-item menu-item-demo">
                <a href="" id="try-now-button">See it in action!</a>
              </li>              
              <li id="menu-item-248" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-248 vc_hidden-xs">
                <a href="{% url 'login' %}">Sign In</a>
              </li>
              <li id="menu-item-247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-247">
                <a href="{% url 'register' %}">Sign up</a>
              </li>              
              {% endif %}
            </ul>
          </div>                    
        </nav>
      </div>
    </div>

    <div class="navheader sticky-navheader sticky">

      <nav id="site-navigation" class="main-navigation" aria-label="Primary Menu">
        <div class="menu-header-menus-container"><ul id="menu-header-menus" class="primary-menu"><li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-11"><a href="{% url 'home' %}">Home</a></li>
          <li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-9"><a href="/#Description">Description</a></li>
          <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-10"><a href="/#Pricing">Pricing</a></li>
          <li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-12"><a href="/#Contact">Contact</a></li>
          <li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13"><a href="http://blog.getpushmonkey.com/">Blog</a></li>
        </ul></div>             </nav><!-- .main-navigation -->

        <nav class="socialhead-navigation" aria-label="Header Social Links Menu">
          <div class="menu-header-social-menus-container"><ul id="menu-header-social-menus" class="social-links-menu"><li id="menu-item-56" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56"><a href="#"><span class="screen-reader-text">FOLLOW US ON</span></a></li>
            <li id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15"><a target="_blank" href="https://twitter.com/getpushmonkey"><span class="screen-reader-text">twitter</span></a></li>
            <li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14"><a target="_blank" href="https://www.facebook.com/getpushmonkey"><span class="screen-reader-text">facebook</span></a></li>
          </ul></div>             </nav><!-- .social-navigation -->         
        </div>               
      </div><!-- .site-header-main -->

</header><!-- .site-header -->