<html>

<head>
    <script type="text/javascript">

window.onload = function() {

    // Ensure that the user can receive Safari Push Notifications.

    if ('safari' in window && 'pushNotification' in window.safari) {

        var permissionData = window.safari.pushNotification.permission('web.com.pushmonkey.CW598XLRMJ3YUBTZI');

        checkRemotePermission(permissionData);

    }

};

var checkRemotePermission = function (permissionData) {

    if (permissionData.permission === 'default') {

        // This is a new web service URL and its validity is unknown.

        window.safari.pushNotification.requestPermission(

            'https://www.getpushmonkey.com/push', // The web service URL.

            'web.com.pushmonkey.CW598XLRMJ3YUBTZI',     // The Website Push ID.

            {"user": "abc"}, // Data that you choose to send to your server to help you identify the user.

            checkRemotePermission         // The callback function.

        );

    }

    else if (permissionData.permission === 'denied') {

        // The user said no.
        console.log("NO!");
    }

    else if (permissionData.permission === 'granted') {

        // The web service URL is a valid push provider, and the user said yes.

        // permissionData.deviceToken is now available to use.
    }
};

    </script>
</head>

<body>
<h1>yo</h1>
</body>

</html>