<ul class="nav nav-tabs" role="tablist">
  <li role="presentation">
    <a href="{% url 'dashboard' %}?tab=install" class="tab-install">
      How To Install
    </a>
  </li>          
  <li role="presentation" class="">
    <a href="{% url 'dashboard' %}?tab=stats">
      Stats
    </a>
  </li>
  <li role="presentation" class="">
    <a href="{% url 'dashboard' %}?tab=send-notification">
      Send Notifications
    </a>
  </li>
  <li role="presentation" {% if active_tab == "segmentation" %}class="active"{% endif %}>
    <a href="{% url 'segments_dashboard' %}">Segmentation</a>
  </li>
  {% if is_pro %} 
  <li role="presentation" {% if active_tab == "manage-websites" %}class="active"{% endif%}>
    <a href="{% url 'websites' %}">
      Manage Websites
    </a>
  </li>
  {% endif %}
  <li role="presentation">
    <a href="{% url 'dashboard' %}?tab=more">
      More
    </a>
  </li>
</ul>