{% extends "base.html" %}

{% block title %}Meet the Team - {% endblock %}

{% block content %}
<div class="header-background inner-background">
  <div class="site-inner">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    {% include 'navigation-sticky.html' %}
    <div class="fullheader-banner inner-banner text-left">
      <div class="container">
        <h3>Meet the team</h3>
        <h4>We're a fully distributed team and we love traveling, meaning that we'll be fixing bugs and replying to your questions from around the globe!</h4>
      </div>
    </div>
  </div>
</div>

<div class="site-inner">
<div id="content" class="website-content">
<div id="primary" class="webcontent-area">
<main id="main" class="site-main">

<article id="post-22" class="post-22 page type-page status-publish hentry">
<header class="entry-header">
<h1 class="entry-title">Meet the team</h1>  </header><!-- .entry-header -->


<div class="webentry-content">
<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid pushmonkey-behindteam"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="wpb_single_image wpb_content_element vc_align_left   behindteam-img">

<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper vc_box_circle  vc_box_border_grey"><img class="vc_single_image-img " src="{{ STATIC_URL }}images/tudor.png" width="278" height="278" alt="tudor" title="tudor"></div>
</figure>
</div>

<div class="wpb_text_column wpb_content_element  behindteam-text">
<div class="wpb_wrapper">
<h3><strong>Tudor Munteanu, Developer Monkey</strong></h3>
<p>Technical advisor for Push Monkey. Likes windmills.</p>

</div>
</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element  behindteam-paragraph">
<div class="wpb_wrapper">
<p>Since Push Monkey was created, it’s been super fun to explore, iterate and evolve every aspect of desktop push notifications, WordPress integration, UI, the how’s and the why’s. Now that Push Monkey is in the hands of customers, I can sometimes be seen randomly jumping with joy.</p>

</div>
</div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid pushmonkey-behindteam"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">


<div class="wpb_text_column wpb_content_element  behindteam-text">
<div class="wpb_wrapper">
<h3><strong>Steve Sandifer, Marketing Monkey</strong></h3>
<p>Wordsmith. Strategist. Keeping our community giggling. Loves coffee.</p>

</div>
</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element  behindteam-paragraph ">
<div class="wpb_wrapper">
<p>Simply put, connecting publishers with Push Monkey and keeping them happy is beyond essential. My responsibility is to make sure we’re constantly providing people with the best, most complete and most useful experience out there – backed up by research and data. This puts a wide smile on my (bearded) face.</p>

</div>
</div>
</div></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid pushmonkey-creadits text-left"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element  creadits-text">
<div class="wpb_wrapper">
<p>Push Monkey is a product of moWOW. Aside from full-stack web applications, we also build fun iOS games and apps. Mixing games with apps keeps our creativity in top shape.</p>

</div>
</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="wpb_single_image wpb_content_element vc_align_left">

<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="{{ STATIC_URL }}images/mowow-logo.png" width="200" height="200" alt="mowow-logo" title="mowow-logo"></div>
</figure>
</div>
</div></div></div></div></div></div></div></div>
</div><!-- .entry-content -->


</article><!-- #post-## -->

</main><!-- .site-main -->


</div><!-- .content-area -->

</div>

<!-- .website-content -->

</div>


{% endblock %}
