{% extends "base.html" %}

{% block title %}Join our affiliates - {% endblock %}

{% block content %}

<div id="page" class="site">

    <div class="header-background inner-background">
        <div class="site-inner">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

        {% include 'navigation-sticky.html' %}
        
        <div class="fullheader-banner inner-banner text-left">
        <div class="container">
        
        <h3>Push Monkey Affiliate Program</h3>
        <h4>Get paid every time you refer someone to Push Monkey.<br>
<button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModal">
Become an affiliate
</button></h4>
        
        </div>
        </div>
        
        
        </div>
        </div>      
        
        
        <div class="site-inner">
        <div id="content" class="website-content">
<div id="primary" class="webcontent-area">
    <main id="main" class="site-main">
        
<article id="post-27" class="post-27 page type-page status-publish hentry">
    <header class="entry-header">
        <h1 class="entry-title">Push Monkey Affiliate Program</h1>  </header><!-- .entry-header -->

    
    <div class="webentry-content">
        <div class="vc_row wpb_row vc_row-fluid affiliatesection-first"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid pushmonkey-dollar"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_left">
        
        <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="{{ STATIC_URl }}images/af-dollar.png" width="302" height="298" alt="af-dollar" title="af-dollar"></div>
        </figure>
    </div>
</div></div></div>


<div class="wpb_column vc_column_container vc_col-sm-9"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  pushmonkey-dollartext">
        <div class="wpb_wrapper">
            <p>If you have recommended Push Monkey to any of our partners or clients, we would like to say: Thank You!</p>
<p>It goes a long way and we believe that just saying thanks doesn’t cut it. That is why we created the Push Monkey Affiliate Program so you can also earn money when you talk about us. It’s an easy and free way for you to earn commission on your referrals and only takes seconds to set up.</p>
<p>Let’s make some money! <a href="{% url 'affiliates_center' %}">Become an affiliate now &gt;</a></p>
<p>Still have questions? <a href="mailto:hello@getpushmonkey.com">Contact us &gt;</a></p>

        </div>
    </div>
</div></div></div></div></div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid affiliatesection-second" style="position: relative; left: -38.5px; box-sizing: border-box; width: 1277px; padding-left: 38.5px; padding-right: 38.5px;"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid page-heading text-center"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  homepage-heading">
        <div class="wpb_wrapper">
            <h3>Why Become a Push Monkey Affiliate?</h3>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid text-center"><div class="become-threebox wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_center">
        
        <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="{{ STATIC_URL }}images/af-hot.png" width="192" height="192" alt="af-hot" title="af-hot"></div>
        </figure>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h4>Seriously Sexy Product</h4>
<p>Content distribution is as important as content creation and publishers are always looking to be one step ahead. That is why being able to send notifications to Mac readers’ desktops when posting new content is so sexy and relevant.</p>

        </div>
    </div>
</div></div></div><div class="become-threebox wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_center">
        
        <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="{{ STATIC_URL }}images/af-controls.png" width="192" height="192" alt="af-controls" title="af-controls"></div>
        </figure>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h4>Quick &amp; easy setup</h4>
<p>It takes only a few seconds to create a Push Monkey affiliate link and start earning commissions. We’ve also prepared ready-to-use promotional tools and assets and we’re always ready to help should you have any questions.</p>

        </div>
    </div>
</div></div></div><div class="become-threebox wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_center">
        
        <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="{{ STATIC_URL }}images/af-returns-192x192.png" width="192" height="192" alt="af-returns" title="af-returns"></div>
        </figure>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h4>Regular payouts</h4>
<p>As an affiliate, you earn 25% or 40% commission every time a new customer signs up to Push Monkey via your link and makes a purchase. Payouts occur 30 days after purchase and we make sure it’s a no frills process.</p>

        </div>
    </div>
</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid affiliatesection-third" style="position: relative; left: -38.5px; box-sizing: border-box; width: 1277px; padding-left: 38.5px; padding-right: 38.5px;"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid page-heading text-center"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  homepage-heading">
        <div class="wpb_wrapper">
            <h3>How It Works</h3>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid pushmonkey-workhow"><div class="workhow-box wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  workhow-icon">
        <div class="wpb_wrapper">
            <p><i class="fa fa-user"></i></p>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p><strong>Create an affiliate account.</strong><br>
Either login with your Push Monkey account or you can create a new account and sign up today for free.</p>

        </div>
    </div>
</div></div></div><div class="workhow-box wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  workhow-icon">
        <div class="wpb_wrapper">
            <p><i class="fa fa-link"></i></p>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p><strong>Get your affiliate link</strong><br>
Use your new affiliate URL to refer Push Monkey. Take advantage of the banners and resources and display them on your sites.</p>

        </div>
    </div>
</div></div></div><div class="workhow-box wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  workhow-icon">
        <div class="wpb_wrapper">
            <p><i class="fa fa-usd"></i></p>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p><strong>Decide what to do with the money</strong><br>
You earn money for every new customer you refer to us. You get real-time data on your earnings and regular payouts.</p>

        </div>
    </div>
</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid affiliatesection-forth" style="position: relative; left: -38.5px; box-sizing: border-box; width: 1277px; padding-left: 38.5px; padding-right: 38.5px;"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid page-heading text-center"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  homepage-heading">
        <div class="wpb_wrapper">
            <h3>Program Details</h3>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid program-fourbox"><div class="program-four wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_left   program-fourimg">
        
        <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="{{ STATIC_URL }}images/af-award.png" width="104" height="104" alt="af-award" title="af-award"></div>
        </figure>
    </div>

    <div class="wpb_text_column wpb_content_element  program-fourtext">
        <div class="wpb_wrapper">
            <p><strong>Commission rate</strong><br>
25% or 40% commission on any qualified purchase from a new customer that you have referred.</p>

        </div>
    </div>
</div></div></div><div class="program-four wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_left   program-fourimg">
        
        <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="{{ STATIC_URL }}images/af-report.png" width="104" height="104" alt="af-report" title="af-report"></div>
        </figure>
    </div>

    <div class="wpb_text_column wpb_content_element  program-fourtext">
        <div class="wpb_wrapper">
            <p><strong>Accurate Reporting</strong><br>
How much you’ve earned, from what type of signups and sums.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid program-fourbox"><div class="program-four wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_left   program-fourimg">
        
        <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="{{ STATIC_URL }}images/af-controls-dark.png" width="104" height="104" alt="af-controls-dark" title="af-controls-dark"></div>
        </figure>
    </div>

    <div class="wpb_text_column wpb_content_element  program-fourtext">
        <div class="wpb_wrapper">
            <p><strong>Wide range of promo tools</strong><br>
From links and banners to tweets and gif images, we have you covered so you can start earning right away.</p>

        </div>
    </div>
</div></div></div><div class="program-four wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_left   program-fourimg">
        
        <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="{{ STATIC_URL }}images/af-award.png" width="104" height="104" alt="af-award" title="af-award"></div>
        </figure>
    </div>

    <div class="wpb_text_column wpb_content_element  program-fourtext">
        <div class="wpb_wrapper">
            <p><strong>Regular Payouts</strong><br>
Fast and easy transfers with regular payout dates, via PayPal.</p>

        </div>
    </div>
</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>
    </div><!-- .entry-content -->

</article><!-- #post-## -->

    </main><!-- .site-main -->

    
</div><!-- .content-area -->

</div>

<!-- .website-content -->

</div>

<!-- .website-inner -->


</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Becoming an affiliate</h4>
      </div>
      <div class="modal-body">
        <p> By clicking on the "Become an affiliate" button below you <br>
          agree to the <a href="{% url 'affiliates_terms' %}">Terms and Conditions of the Push Monkey Affiliate Program.</a> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="{% url 'affiliates_center' %}" class="btn btn-success">Become an affiliate</a> </div>
    </div>
  </div>
</div>
{% endblock %}
