{% extends "base.html" %}

{% block title %} Affiliate Terms and Conditions {% endblock %}

{% block content %}
<div class="header-background inner-background">
    <div class="site-inner">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

        {% include 'navigation-sticky.html' %}

        <div class="fullheader-banner inner-banner text-left">
            <div class="container">

            <h3>Affiliate Terms and Conditions</h3>
            <h4></h4>

            </div>
        </div>


    </div>
</div>
<div class="site-inner">
        <div id="content" class="website-content">
<div id="primary" class="webcontent-area">
    <main id="main" class="site-main">
        
<article id="post-291" class="post-291 page type-page status-publish hentry">
    <header class="entry-header">
        <h1 class="entry-title">Affiliate Terms and Conditions</h1> </header><!-- .entry-header -->

    
    <div class="webentry-content">
        <div class="vc_row wpb_row vc_row-fluid inner-st-content"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h2>Affiliate program agreement</h2>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>This Agreement contains the complete terms and conditions that apply to your participation in our Affiliate Program. As used in this Agreement, “we” or “us” refers to Push Monkey and “you” refers to the applicant. “Site” means a World Wide Web site and, identified by exact URL (Unified Resource Locator). By signing up for an account in the Push Monkey Affiliate Program, you are agreeing to the terms specified in this agreement. Violation of any terms and conditions included in this agreement may result in termination of your account, and possible forfeit of affiliate revenue. You must be 18 years of age or older to enter into this Agreement with us.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>1. Enrollment in the Program</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>To begin the enrollment process, you will submit a <a href="{%url login %}">complete Affiliate application</a> via our site. We reserve the right to reject your application or terminate this agreement any time upon written notification to you.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>2. Acceptable Advertising Methods</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>As an affiliate, you earn revenue by generating sales of our service. You generate these sales by encouraging web users to visit our sites. You may advertise products via:</p>
<ul>
<li>Text Links or endorsements on your site(s);</li>
<li>Graphical Banners and Buttons on your site(s);</li>
<li>Text Links or endorsements in solicited emails;</li>
<li>Word of mouth, encouraging your customers to enter your affiliate ID during purchase of our software. If you have any questions about whether a method of advertising is allowed, please <a href="http://getpushmonkey.com/#Contact">contact us</a>.</li>
</ul>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>3. Order Processing</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>We will process sales orders placed by customers solicited by you. We reserve the right to reject orders that do not comply with any requirements that we may establish periodically. We will be responsible for all aspects of order processing and fulfillment. Among other things, we will prepare order forms, process payments, cancellations, and returns, and handle customer service. We will track the sales you solicit and made by customers who purchase services and will make available to you reports summarizing this sales activity. The form, content, and frequency of the reports may vary.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>4. Commission Fees</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>For a service sale to be eligible to earn a referral fee, the customer must either click-through an Affiliate link to our site, and purchase our service within 60 days of first click-through; or enter your affiliate ID during placing order with us. We track referrals from your site, and ensure that you get paid the referral fees due to you, even if the customer just downloads the trial version of the software to try it out initially and returns (within 60 days) to purchase the software.</p>
<p>Under the Affiliate Program, you will be paid a Commission Fee for each Qualified Purchase by a Referred Customer that you refer to Push Monkey under and in accordance with the terms of this Agreement. Each Referred Customer and each Qualified Purchase must meet the following criteria (the “Criteria”):</p>
<ul>
<li>Each Referred Customer must be a new and unique visitor to Push Monkey and must register by completing and submitting the Registration Form using a valid and unique account and billing information.</li>
<li>Each Referred Customer must make a Qualified Purchase, and provide a valid payment for the purchased Push Monkey Services. To generate a Commission Fee for you, each Referred Customer must be an active, qualified customer of Push Monkey and must be up-to-date in all payments at the time the Commission Fees are processed and not have been subject to a refund, credit, cancellation, suspension or chargeback.</li>
<li>Each Referred Customer must sign up in a manner, which in our sole judgment, definitively establishes that the Referred Customer was referred directly from you to Push Monkey under this Agreement.</li>
<li>Each Referred Customer must remain in compliance with our Terms of Service, Acceptable Use Policy and other policies that are active at the time the Commission Fees are processed.</li>
<li>Commission Fees may not be paid for the Qualified Purchase if the Referred Customer has been offered or received coupons, refunds, credits or discounts from the Affiliate or if the Referred Customer has joined a business-opportunity program (as determined by Push Monkey in its sole discretion) that is managed or participated in by the Affiliate, unless Push Monkey has provided its prior written permission.</li>
<li>If a Referred Customer has received a popup with a discounted offer, while leaving our site during their purchase, we will NOT pay commissions on purchase.</li>
</ul>
<p>Push Monkey reserves the right to suspend payment of Commission Fees at any time and indefinitely, if it suspects fraud or other improper activity or a potential breach of any of the terms in this Agreement by the Affiliate or a Referred Customer(s).</p>
<p>Push Monkey, in its sole discretion, reserves the right to withhold indefinitely any Commission Fee, and/or to reverse, deny or reject any Commission Fee, for:</p>
<ul>
<li>Any account/sale which has not been in an approved status in good standing as an account of Push Monkey for a period of at least thirty (30) days.</li>
<li>For self-submitted orders by the affiliate Whereas the name and/or address of the affiliate is the same as the order referred. This will be declined; we do not accept or condone attempts to subsidize affiliate accounts who also use our service.</li>
<li>All commissions generated for accounts that may be fraudulent, including but not limited to the use of software that generates real and fictitious information.</li>
<li>If we deem orders to be fraudulent or see a pattern of potentially fraudulent activity, including, without limitation, where there are multiple accounts from the same customer, or referral of accounts which do not comply with this Agreement. We review account information (including ) to assess referrals.</li>
<li>Altering Our Links in any way.</li>
<li>Referred Customers that have been offered or received coupons, refunds, credits or discounts from the Affiliate or for Referred Customers who have joined a business opportunity program that is managed or participated in by the Affiliate, unless Push Monkey has provided written permission.</li>
</ul>
<p>It is the responsibility of the Affiliate to monitor the payment, denial and withholding of Commission Fees; Push Monkey is not obligated to actively notify Affiliates of the status of Commission Fees. If an Affiliate has a question about a Commission Fee that has been cancelled or withheld, that Affiliate has 30 days from the day the payment was due to contact Push Monkey to discuss or reclaim the Commission Fee. Any changes to decisions about cancelled or withheld Commission Fees are strictly at Push Monkey’s discretion. Commissions for any Referred Customer who is associated with any A Small Orange reseller, referral or other program may be removed from your payment. In other words, You may not receive double commissions or compensation.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>5. Non-Qualified Orders</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>Orders refunded at the request of the purchaser, or orders charged-back due to credit card fraud do not qualify for commission.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>6. Referral Fees Payment</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>Affiliates are paid a commission, based on values set in Referral Fee Schedule. Commissions for qualified orders will be paid within 30 days after your request if the sum of commissions for qualified orders exceeds the minimum transfer amount of USD 50. Orders that occurred during a calendar month are qualified (cleared) for payment after 25-th day of the next month. Payments are done either via Paypal. We also give you an option to use your commissions as a credit for purchasing goods and services provided by our company. If an Affiliate account is not earning commissions for 6 months we have right to terminate Affiliate membership and forfeit any unpaid commissions. We reserve the right to change commission rates without notice, but you will always be paid based on the rate in effect on the day the sales lead was generated.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>7. Term of the Agreement</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>The term of this Agreement will begin upon our acceptance of your Program application and will end when terminated by either party. Either you or we may terminate this Agreement at any time, with or without cause, by giving the other party written notice of termination. Upon the termination of this Agreement for any reason, you will immediately cease use of, and remove from your site, all links to our site and any other promotional materials that we provided to you as to an affiliate. You are eligible to earn referral fees only for Qualified Orders that occur during the term, and referral fees earned through the date of termination will remain payable only if the related orders are not canceled or returned. We may withhold your final payment for a reasonable time to ensure that the correct amount is paid.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>8. Modification</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>We may modify any of the terms and conditions contained in this Agreement, at any time and in our sole discretion, by posting a change notice or a new agreement on our <a href="http://getpushmonkey.com">site</a>. Modifications may include, but not limited to, changes in the scope of available referral fees, referral fee schedules, payment procedures, and Program rules. IF ANY MODIFICATION IS UNACCEPTABLE TO YOU, YOUR ONLY RECOURSE IS TO TERMINATE THIS AGREEMENT. YOUR CONTINUED PARTICIPATION IN THE PROGRAM FOLLOWING OUR POSTING OF A CHANGE NOTICE OR NEW AGREEMENT ON OUR SITE WILL CONSTITUTE BINDING ACCEPTANCE OF THE CHANGE.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>9. Relationship of Parties</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>You and we are independent contractors, and nothing in this Agreement will create any partnership, joint venture, agency, franchise, sales representative, or employment relationship between the parties. You will have no authority to make or accept any offers or representations on our behalf. You will not make any statement, whether on your site or otherwise, that reasonably would contradict anything in this Section.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>10. Limitation of Liability</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>We will not be liable for indirect, special, or consequential damages (or any loss of revenue, profits, or data) arising in connection with this Agreement or the Program, even if we have been advised of the possibility of such damages. Further, our aggregate liability arising with respect to this Agreement and the Program will not exceed the total referral fees paid or payable to you under this Agreement.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>11. Independent Investigation</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT AND AGREE TO ALL ITS TERMS AND CONDITIONS. YOU UNDERSTAND THAT WE MAY AT ANY TIME (DIRECTLY OR INDIRECTLY) SOLICIT CUSTOMER REFERRALS ON TERMS THAT MAY DIFFER FROM THOSE CONTAINED IN THIS AGREEMENT OR OPERATE WEB SITES THAT ARE SIMILAR TO OR COMPETE WITH YOUR WEB SITE. YOU HAVE INDEPENDENTLY EVALUATED THE DESIRABILITY OF PARTICIPATING IN THE PROGRAM AND ARE NOT RELYING ON ANY REPRESENTATION, GUARANTEE, OR STATEMENT OTHER THAN AS SET FORTH IN THIS AGREEMENT.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>12. Disclaimers</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>We make no express or implied warranties or representations with respect to the Program or any products sold through the Program (including, without limitation, warranties of fitness, merchantability, non-infringement, or any implied warranties arising out of a course of performance, dealing, or trade usage). In addition, we make no representation that the operation of our site will be uninterrupted or error-free, and we will not be liable for the consequences of any interruptions or errors.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>13. Governing Law</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>This Agreement shall be governed by and construed under the laws of the country of Germany without reference to its conflict of law principles. In the event of any conflicts between foreign law, rules, and regulations, and Germany law, rules, and regulations, Germany law, rules and regulations shall prevail and govern.</p>

        </div>
    </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h3>14. Effective Date of this Terms of Use:</h3>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>This Terms of Use is effective as of September 1st, 2014.</p>

        </div>
    </div>
</div></div></div></div></div></div></div></div>
    </div><!-- .entry-content -->

    
</article><!-- #post-## -->

    </main><!-- .site-main -->

    
</div><!-- .content-area -->

</div>

<!-- .website-content -->

</div>
{% endblock %}
