{% extends "base.html" %}

{% block extracss %}
<link rel='stylesheet' id='wpaft-logo-slider-css'  href='{{ STATIC_URL}}css/client-carousel.css' type='text/css' media='all' />
{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}js/jquery.form.min.js"></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"{{ STATIC_URL }}images/ajax-loader.gif","recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"sending":"Sending ..."};
/* ]]> */
</script>
<script src="{{ STATIC_URL }}js/skip-link-focus-fix.js"></script>
<script type='text/javascript'>
/* <![CDATA[ */
var screenReaderText = {"expand":"expand child menu","collapse":"collapse child menu"};
/* ]]> */
</script>
<script src="{{ STATIC_URL }}js/functions.js"></script>
<script src="{{ STATIC_URL }}js/client-carousel.js"></script>
<script src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock %}

{% block extrabody %} class="home page page-id-4 page-template-default no-sidebar wpb-js-composer js-comp-ver-4.11 vc_responsive"{% endblock %}

{% block content %}

<div id="Home" class="header-background ">
  <div class="site-inner">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    {% include 'navigation-sticky.html' %}
  </div>      
  <div class="fullheader-banner text-center">
    <div class="container">
      
      <h1>Send Desktop <strong>Push Notifications</strong><br />from your <em>website</em></h1>
      <h2>Push Monkey is the most direct and hassle-free  content distribution and marketing channel for your readers. Notifications straight to their desktops when you publish new content! </h2>
      <div class="headerlive-banner">  
        <div class="height desktop">
          <div>
            <iframe src="//www.youtube.com/embed/KGtPqsFz24Y?modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="height mobile">
          <div>          
            <iframe src="//www.youtube.com/embed/KGtPqsFz24Y?modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="height smobile">
          <div>
            <iframe src="//www.youtube.com/embed/KGtPqsFz24Y?modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <section id="text-2" class="widget widget_text">
          <h2 class="widget-title">Free Trial</h2>
          <div class="textwidget">No credit cards or bananas required 
              <img src="{{ STATIC_URL }}images/FREE_TRIAL_banana_img.png" alt="free Trial">
              <a href="{% url 'register' %}" class="getpush-now">Start Now</a>
          </div>
        </section>        
      </div>          
    </div>
  </div>
</div>

<div class="site-inner">
      <div id="content" class="website-content">
<div id="primary" class="webcontent-area">
  <main id="main" class="site-main">
      
<article id="post-4" class="post-4 page type-page status-publish hentry">
  <header class="entry-header">
      <h1 class="entry-title">Home</h1>   </header><!-- .entry-header -->

  
  <div class="webentry-content">
      <div class="vc_row wpb_row vc_row-fluid text-center section-one section-default"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid page-heading"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  homepage-heading">
      <div class="wpb_wrapper">
          <h3>How can Push Monkey help?</h3>

      </div>
  </div>

  <div class="wpb_text_column wpb_content_element  homepage-subheading">
      <div class="wpb_wrapper">
          <p>
            Send clickable messages to you subscribers even when they are not visiting your website. Your key to one step subscriber acquisition, regardless of what technology powers your website.
          </p>
      </div>
  </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid howpush_monkeybox"><div class="howpush_monkey wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  whypush_icon">
      <div class="wpb_wrapper">
          
      </div>
  </div>

  <div class="wpb_text_column wpb_content_element  whypush_heading">
      <div class="wpb_wrapper">
          <p>Zero coding required</p>

      </div>
  </div>

  <div class="wpb_text_column wpb_content_element  whypush_content">
      <div class="wpb_wrapper">
          <p>Easy to set up with no coding or API configuration required, on Wordpress and beyond. You can focus on your content and readers.</p>

      </div>
  </div>
</div></div></div><div class="howpush_monkey wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  whypush_icon">
      <div class="wpb_wrapper">
          
      </div>
  </div>

  <div class="wpb_text_column wpb_content_element  whypush_heading">
      <div class="wpb_wrapper">
          <p>Stats</p>

      </div>
  </div>

  <div class="wpb_text_column wpb_content_element  whypush_content">
      <div class="wpb_wrapper">
          <p>Beautiful and easy-to-understand statistics for the Push Monkey performance are available directly in your WordPress Dashboard</p>

      </div>
  </div>
</div></div></div><div class="howpush_monkey wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  whypush_icon">
      <div class="wpb_wrapper">
          
      </div>
  </div>

  <div class="wpb_text_column wpb_content_element  whypush_heading">
      <div class="wpb_wrapper">
          <p>Segmentation</p>

      </div>
  </div>

  <div class="wpb_text_column wpb_content_element  whypush_content">
      <div class="wpb_wrapper">
          <p>
Segments of interest for your subscribers allow you to know what they are interested in and provide relevant notifications and content.</p>

      </div>
  </div>
</div></div></div></div><div class="vc_btn3-container  whypush_button greencolor_button vc_btn3-center"><a href="{% url 'register' %}" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-square vc_btn3-style-flat vc_btn3-color-grey">Start Now</a></div>
</div></div></div></div><div id="Description" data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid text-center section-two section-default" ><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid page-heading"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  homepage-heading">
      <div class="wpb_wrapper">
          <h3>Why Push Monkey?</h3>

      </div>
  </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid whypush_monkeybox"><div class="text-center blueborder-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  whypush_monkeyimg">
      <div class="wpb_wrapper">
          <p><img class="aligncenter size-full wp-image-73" src="{{ STATIC_URL }}images/increased_engagemen_5t.png" alt="increased_engagement" width="180" height="172"></p>

      </div>
  </div>
</div></div></div><div class="text-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
      <div class="wpb_wrapper">
          <p><strong>Increased Engagement</strong><br>
Readers can be informed about your content at all times: when reading other websites or while working in other apps, with the browser closed. Even when the computer is not active – it displays all missed notifications the moment it wakes up.</p>

      </div>
  </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid whypush_monkeybox"><div class="text-right blueborder-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
      <div class="wpb_wrapper">
          <p><strong>Native outreach</strong><br>
Your readers don’t have to install any additional apps or plugins. They just accept receiving notifications from your website and presto!</p>

      </div>
  </div>
</div></div></div><div class="text-center wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  whypush_monkeyimg">
      <div class="wpb_wrapper">
          <p><img class="aligncenter size-full wp-image-103" src="{{ STATIC_URL }}images/increased_engagement_2.png" alt="increased_engagement_3" width="180" height="172"></p>

      </div>
  </div>
</div></div></div></div><div id="granularfiltering" class="vc_row wpb_row vc_inner vc_row-fluid whypush_monkeybox"><div class="text-center blueborder-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  whypush_monkeyimg">
      <div class="wpb_wrapper">
          <p><img class="aligncenter size-full wp-image-104" src="{{ STATIC_URL }}images/increased_engagement_3.png" alt="increased_engagement_3" width="180" height="172"></p>

      </div>
  </div>
</div></div></div><div class="text-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
      <div class="wpb_wrapper">
          <p><strong>Granular Filtering</strong><br>
Easily decide and control for what type of content to send out notifications. Filter by custom post type and by category for standard posts. No content clutter around here! Displays all missed notifications the moment it wakes up.</p>

      </div>
  </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid whypush_monkeybox"><div class="text-right blueborder-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
      <div class="wpb_wrapper">
          <p><strong>Segmentation</strong><br>
Define segments of interest for your subscribers. This will allow you to know what your subscribers are interested in and provide relevant notifications and content.
</p>

      </div>
  </div>
</div></div></div><div class="text-center wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  whypush_monkeyimg">
      <div class="wpb_wrapper">
          <p><img class="aligncenter size-full wp-image-100" src="{{ STATIC_URL }}images/segmentation-icon.png" alt="increased_engagemen_3t" width="180" height="172"></p>

      </div>
  </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid whypush_monkeybox"><div class="text-center blueborder-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  whypush_monkeyimg">
      <div class="wpb_wrapper">
          <p><img class="aligncenter size-full wp-image-105" src="{{ STATIC_URL }}images/increased_engagement_4.png" alt="increased_engagement_4" width="180" height="172"></p>

      </div>
  </div>
</div></div></div><div class="text-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
      <div class="wpb_wrapper">
          <p><strong>Statistics</strong><br>
The plugin provides essential usage and engagement data available directly in your WordPress dashboard so you can create the best experience for your subscribers.</p>

      </div>
  </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid whypush_monkeybox"><div class="text-right blueborder-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
      <div class="wpb_wrapper">
          <p><strong>Visually branded for your needs</strong><br>
Push Monkey is fully white-label. Your readers don’t get to see any crazy bananas from us. Your logo, your text, your rules!</p>

      </div>
  </div>
</div></div></div><div class="text-center wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  whypush_monkeyimg">
      <div class="wpb_wrapper">
          <p><img class="aligncenter size-full wp-image-101" src="{{ STATIC_URL }}images/increased_engagemen_5t.png" alt="increased_engagemen_5t" width="180" height="172"></p>

      </div>
  </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid whypush_monkeybox"><div class="text-center blueborder-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  whypush_monkeyimg">
      <div class="wpb_wrapper">
          <p><img class="aligncenter size-full wp-image-107" src="{{ STATIC_URL }}images/increased_engagement_six.png" alt="increased_engagement_six" width="180" height="172"></p>

      </div>
  </div>
</div></div></div><div class="text-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
      <div class="wpb_wrapper">
          <p><strong>Non-intrusive</strong><br>
Push notifications reach a sweet balance between informative and non-intrusive. They appear above all other windows and if not clicked on, disappear after a few seconds.notifications.</p>

      </div>
  </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid whypush_monkeybox"><div class="text-right blueborder-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
      <div class="wpb_wrapper">
          <p><strong>Super fast setup. Zero coding required</strong><br>
Fast and easy to set up and no coding or API configuration required. You can either use the Wordpress plugin or drop in one line of Javascript. The monkeys do all the pushing so you can focus on your content and readers.</p>

      </div>
  </div>
</div></div></div><div class="text-center wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  whypush_monkeyimg">
      <div class="wpb_wrapper">
          <p><img class="aligncenter size-full wp-image-106" src="{{ STATIC_URL }}images/increased_engagement_7.png" alt="increased_engagement_7" width="180" height="172"></p>

      </div>
  </div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid whypush_monkeybox"><div class="text-center blueborder-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  whypush_monkeyimg">
      <div class="wpb_wrapper">
          <p><img class="aligncenter size-full wp-image-102" src="{{ STATIC_URL }}images/increased_engagemen_8t.png" alt="increased_engagemen_8t" width="180" height="172"></p>

      </div>
  </div>
</div></div></div><div class="text-left wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
      <div class="wpb_wrapper">
          <p><strong>No Monkey Business</strong><br>
Sending notifications on a big and reliable scale is not trivial, but our solid high-availability cloud back-end has already delivered millions of notifications…and it’s not stopping here.</p>

      </div>
  </div>
</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div id="Pricing" data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid text-center section-three section-default"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid page-heading"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  homepage-heading">
      <div class="wpb_wrapper">
          <h3>Start now. Select your plan!</h3>

      </div>
  </div>

  <div class="wpb_text_column wpb_content_element  homepage-subheading">
      <div class="wpb_wrapper">
          <p>We do it the SECURE Way!</p>

      </div>
  </div>
</div></div></div></div>

{% include 'home/pricing-table.html' %}

</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid text-center section-forth section-default"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid page-heading"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  homepage-heading">
      <div class="wpb_wrapper">
          <h3>For a limited time get FREE positive SSl and free installation with purchase of Annual plan</h3>

      </div>
  </div>
</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid section-fifth section-default" ><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="text-left freetrial-text wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
      <div class="wpb_wrapper">
          <p>If you’re not sure which plan is right for you, we offer a <strong>FREE TRIAL</strong> with unlimited notifications. No credit cards or other commitments required. </p>

      </div>
  </div>
</div></div></div><div class="text-center freetrial-donatebox wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  freetrial-donate">
      <div class="wpb_wrapper">
          <p><strong>FREE TRIAL</strong>No credit cards or bananas required<br>
<img class="aligncenter size-full wp-image-122" src="{{ STATIC_URL }}images/FREE_TRIAL_banana_img.png" alt="free_trial_banana_img" width="85" height="55"></p>

      </div>
  </div>
</div></div></div><div class="text-center green-boxbutton freetrial-text wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_btn3-container  green-startnow getpush-now vc_btn3-center"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-flat vc_btn3-color-grey" href="{% url 'register' %}" title="">Start Now</a></div>
</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid text-center section-sixth section-default"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid get-socialbox"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  get-socialtext">
      <div class="wpb_wrapper">
          <h3>We’d love to tell you about updates. Follow us on:</h3>

      </div>
  </div>
<div class="vc_wp_custommenu wpb_content_element all-socialmenu social-navigation"><div class="widget widget_nav_menu"><div class="menu-social-icon-container"><ul id="menu-social-icon" class="menu"><li id="menu-item-156" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-156"><a target="_blank" href="https://www.facebook.com/getpushmonkey">&nbsp;</a></li>
<li id="menu-item-157" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-157"><a href="https://twitter.com/getpushmonkey">&nbsp;</a></li>
<li id="menu-item-159" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-159"><a href="https://www.linkedin.com/">&nbsp;&nbsp;</a></li>
<li id="menu-item-161" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-161"><a href="https://plus.google.com/">&nbsp;</a></li>
</ul></div></div></div></div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid text-center section-seven section-default"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid page-heading"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">



</div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div id="Contact" data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid text-center section-eight section-default"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid page-heading contact-form"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  homepage-heading">
      <div class="wpb_wrapper">
          <h3>Drop Us A Line</h3>

      </div>
  </div>
<div role="form" class="wpcf7" id="wpcf7-f42-p4-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
{% if form.errors %}
<p class="bg-danger"> Hold on. Something is not right in the fields below.  </p>
{% for field in form %}
  {% if field.html_name != "captcha" %}
  {{ field.errors }}
  {% endif %}
{% endfor %}
{% endif %}
{% if message %}
<p class="bg-success"> Cool, thank you for the message!  </p>
{% endif %}
<form action="/#Contact" method="post" class="wpcf7-form" novalidate="novalidate">
{% csrf_token %}
<span class="wpcf7-form-control-wrap your-name">
  <input type="text" name="{{ form.name.html_name }}" {% if form.name.value %}value="{{ form.name.value }}"{% endif %} size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name">
</span>
<br>
<span class="wpcf7-form-control-wrap your-email">
  <input type="email" name="{{ form.email.html_name }}" {% if form.email.value %}value="{{ form.email.value }}"{% endif %} size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email">
</span>
<br>
<span class="wpcf7-form-control-wrap your-message">
  <textarea name="{{ form.message.html_name }}" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message"></textarea>
</span>
<br>
{% if form.captcha.errors %}
<div class="wpcf7-form-control-wrap vc_col-sm-4 vc_col-sm-offset-4">
  {{ form.captcha.errors }}
</div>
{% endif %}
<span class="wpcf7-form-control-wrap captcha vc_col-sm-12">
  {{ form.captcha }}
</span>
<div class="wpcf7-form-control-wrap submit vc_col-sm-12">
  <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit">
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div>
</form>
</div></div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>
  </div><!-- .entry-content -->

  
</article><!-- #post-## -->

  </main><!-- .site-main -->

  
</div><!-- .content-area -->

</div>

<!-- .website-content -->

</div>

<!-- Modal -->
<div class="modal fade" id="demo-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2 class="modal-title">Demo time!</h2>
    </div>
    <div class="modal-body">
      <h3>
          Have a look at the prompt that just popped up.
      </h3>
      <p>
          Your browser will ask you for permission to subscribe to desktop push notifications.
      </p>
      <h3>
          Wait a few seconds and bingo!
      </h3>
      <p>
          This is what your readers will receive. Clicking on it will take you back to our home page.
      </p>
    </div>
    <div class="modal-footer">
      <a href="{% url 'register' %}" class="btn btn-info">Sign Up</a>
    </div>
  </div>
</div>
</div>

<script>
var wpaft = {"items":"6","single_item":"","slide_orderby":"date","slide_speed":"300","pagination_speed":"300","rewind_speed":"500","auto_play":"1","stop_on_hover":"1","navigation":"1","pagination":"","responsive":"1"};
/*
*  Initialize the slider
*/
jQuery(document).ready(function($){ 
  jQuery("#wpaft-logo-slider-default").owlCarousel({

      items:              Number(wpaft.items),
      slideSpeed:         Number(wpaft.slide_speed),
      paginationSpeed:    Number(wpaft.pagination_speed),
      rewindSpeed:        Number(wpaft.rewind_speed),
      singleItem:         Boolean('1' == wpaft.single_item),
      autoPlay:           Boolean('1' == wpaft.auto_play),
      stopOnHover:        Boolean('1' == wpaft.stop_on_hover),
      navigation:         Boolean('1' == wpaft.navigation),
      pagination:         Boolean('1' == wpaft.pagination),
      responsive:         Boolean('1' == wpaft.responsive)
  });
});
</script>
{% endblock %}
