<div class="vc_row wpb_row vc_inner vc_row-fluid startnow_monkeybox">
  <div class="colortheme-blue wpb_column vc_column_container vc_col-sm-3">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element  startnow_heading">
          <div class="wpb_wrapper">
            <p>Starter</p>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element  startnow_content">
          <div class="wpb_wrapper">
            <ul>
              <li>Unlimited Subscribers</li>
              <li>10k Notifications</li>
              <li>Statistics</li>
              <li>Granular Filtering</li>
              <li>Custom Branded</li>
              <li><i class="fa fa-times"></i></li>              
              <li><i class="fa fa-times"></i></li>
              <li><i class="fa fa-times"></i></li>
              <li><i class="fa fa-times"></i></li>
            </ul>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element  left-pluginprice text-pluginprice">
          <div class="wpb_wrapper">
            <p>

              {% if modal_pricing_table or overview_pricing_tabel %}
              <a href="{% url 'payment_overview' 'yearly' plans.STARTER %}" 
              {% else %}
              <a href="{% url 'register_preselected_plan' plans.starter_yearly %}" 
              {% endif %} 
              >
                {{ prices.starter_monthly_paid_yearly }}<br>
                <strong>Month</strong><br>
                <em>Paid Yearly</em>
              </a>
            </p>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element  right-pluginprice text-pluginprice">
          <div class="wpb_wrapper">
            <p>
              {% if modal_pricing_table or overview_pricing_tabel %}
              <a href="{% url 'payment_overview' 'monthly' plans.STARTER %}" 
              {% else %}
              <a href="{% url 'register_preselected_plan' plans.starter_monthly %}" 
              {% endif %}
              >
                {{ prices.STARTER_MONTHLY }}<br>
                <strong>Month</strong><br>
                <em>Paid Monthly</em>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="colortheme-green wpb_column vc_column_container vc_col-sm-3">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element  startnow_heading">
          <div class="wpb_wrapper">
            <p>Sweet Spot</p>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element  startnow_content">
          <div class="wpb_wrapper">
            <ul>
              <li>Unlimited Subscribers</li>
              <li>500k Notifications</li>
              <li>Statistics</li>
              <li>Granular Filtering</li>
              <li>Custom Branded</li>
              <li>Segmentation</li>
              <li>Data Export</li>
              <li><i class="fa fa-times"></i></li>
              <li><i class="fa fa-times"></i></li>
            </ul>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element  left-pluginprice text-pluginprice">
          <div class="wpb_wrapper">
            <p>
                {% if modal_pricing_table or overview_pricing_tabel %}
                <a href="{% url 'payment_overview' 'yearly' plans.SWEET_SPOT %}" 
                {% else %}
                <a href="{% url 'register_preselected_plan' plans.sweet_spot_yearly %}" 
                {% endif %}
                >
                {{ prices.sweet_spot_monthly_paid_yearly }}<br>
                <strong>Month</strong><br>
                <em>Paid Yearly</em>
              </a>
            </p>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element  right-pluginprice text-pluginprice">
          <div class="wpb_wrapper">
            <p>
              {% if modal_pricing_table or overview_pricing_tabel %}
              <a href="{% url 'payment_overview' 'monthly' plans.SWEET_SPOT %}" 
              {% else %}
              <a href="{% url 'register_preselected_plan' plans.sweet_spot_monthly %}" 
              {% endif %}
              >
                {{ prices.SWEET_SPOT_MONTHLY }}<br>
                <strong>Month</strong><br>
                <em>Paid Monthly</em>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="colortheme-grey wpb_column vc_column_container vc_col-sm-3">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element  startnow_heading">
          <div class="wpb_wrapper">
            <p>Pro</p>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element  startnow_content">
          <div class="wpb_wrapper">
            <ul>
              <li>Unlimited Subscribers</li>
              <li>1.5 mil Notifications</li>
              <li>Statistics</li>
              <li>Granular Filtering</li>
              <li>Custom Branded</li>
              <li>Segmentation</li>
              <li>Data Export</li>
              <li>Lovable Support</li>
              <li>5 Websites</li>
            </ul>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element  left-pluginprice text-pluginprice">
          <div class="wpb_wrapper">
            <p>
              {% if modal_pricing_table or overview_pricing_tabel %}
              <a href="{% url 'payment_overview' 'yearly' plans.PRO %}" 
              {% else %}
              <a href="{% url 'register_preselected_plan' plans.pro_year %}" 
              {% endif %}
              >
              {{ prices.pro_monthly_paid_yearly }}<br>
              <strong>Month</strong><br>
              <em>Paid Yearly</em>
              </a>
            </p>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element  right-pluginprice text-pluginprice">
          <div class="wpb_wrapper">
            <p>
                {% if modal_pricing_table or overview_pricing_tabel %}
                <a href="{% url 'payment_overview' 'monthly' plans.PRO %}" 
                {% else %}
                <a href="{% url 'register_preselected_plan' plans.pro_monthly %}" 
                {% endif %}
                >
                {{ prices.PRO_MONTHLY }}<br>
                <strong>Month</strong><br>
                <em>Paid Monthly</em>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="colortheme-silver wpb_column vc_column_container vc_col-sm-3">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element  startnow_heading">
          <div class="wpb_wrapper">
            <p>Custom</p>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element  startnow_content">
          <div class="wpb_wrapper">
            <p>
              <a href="mailto:hello@getpushmonkey.com">contact us
              </a>
            </p>
            <ul>
              <li>1.5mil Notifications</li>
              <li>5 Websites</li>
              <li>Need a custom solution<br>
                that fits your specific<br>
                needs? Get in touch!</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
