<script type="text/javascript">
	var options = {
		scaleShowGridLines : true,
		scaleGridLineColor : "rgba(0,0,0,.05)",
		scaleGridLineWidth : 1,
		bezierCurve : true,
		bezierCurveTension : 0.4,
		pointDot : true,
		pointDotRadius : 5,
		pointDotStrokeWidth : 3,
		pointHitDetectionRadius : 20,
		datasetStroke : true,
		datasetStrokeWidth : 0,
		datasetFill : true,
		responsive: true,
		maintainAspectRatio: false,
		scales: {
            yAxes: [{
                stacked: true
            }]
        }
	};
	var data = {
		labels: {{ labels_dataset|safe }},
		datasets: [
			{
				label: "Sent Notifications",
				fill: true,
				backgroundColor: "#363636",
				borderColor: "#363636",
				pointHoverBackgroundColor: "#727270",
				pointHoverBorderColor: "#727270",
				data: {{ sent_notifications_dataset|safe }} 
			},
			{
				label: "Opened Notifications",
				fill: true,
				backgroundColor: "#2FCC70",
				borderColor: "#2FCC70",
				pointHoverBackgroundColor: "#727270",
				pointHoverBorderColor: "#727270",				
				data: {{ opened_notifications_dataset|safe }}
			}
		]
	};
	var doughnutData = {
    datasets: [
        {
            data: [{{ sent_notifications }}, {{ max_notifications }}],
            backgroundColor: [
                "#2ecc71",
                "#727270"
            ],
            borderWidth: [0, 0]
        }]
	};
	var doughnutOptions = {
		segmentShowStroke : false,
		//Number - The percentage of the chart that we cut out of the middle
		percentageInnerCutout : 0,
		animationSteps : 90,
		animationEasing : "easeOutBounce",
		animateRotate : true,
		animateScale : false,
		responsive: true,
		events: [],
		tooltip: {
			enabled: false
		},
		legend: {
			display: false
		},
		title: {
			display: false
		}
	};
	
	$(function(){
		var ctx = $("#myChart").get(0).getContext("2d");
		var myNewChart =  new Chart(ctx, {
			type: 'line',
	    data: data,
	    options: options
		});

		var ctx2 = $("#doughnut-chart").get(0).getContext("2d");
		var doughnutChart = new Chart(ctx2, {
			type: 'pie',
			data: doughnutData,
			options: doughnutOptions
		});
	});
</script>
