{% extends "base.html" %}

{% load humanize %}

{% block title %}Dashboard - {% endblock %}

{% block extrajs %}
{% include "stats/stats-js-block.html" %}
<link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-multiselect.css" type="text/css"/>
<script src="{{ STATIC_URL }}js/moment-with-locales.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-multiselect.js"></script>
<script src="{{ STATIC_URL }}js/dashboard.js"></script>
{% endblock %}

{% block content %}

<div class="header-background inner-background">
  <div class="site-inner">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

    {% include 'navigation-sticky.html' %}

    <div class="fullheader-banner inner-banner text-left">
      <div class="container">
        <h3>Hey {{ user.first_name }}</h3>
      </div>
    </div>
  </div>
</div>

<div class="site-inner">
  <div id="content" class="website-content">
    <div class="container" id="dashboard">

      <div class="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" {% if tab == "install" %}class="active"{% endif %}>
            <a href="#install" class="tab-install" aria-controls="install" role="tab" data-toggle="tab">How To Install</a>
          </li>
          <li role="presentation" {% if tab == "stats" %}class="active"{% endif %}>
            <a href="{% url 'dashboard'%}?tab=stats">Stats</a>
          </li>
          <li role="presentation" {% if tab == "send-notification" %}class="active"{% endif %}>
            <a href="#send-notification" aria-controls="send-notification" role="tab" data-toggle="tab">Send Notifications</a>
          </li>
          <li role="presentation" {% if tab == "segmentation" %}class="active"{% endif %}>
            <a href="{% url 'segments_dashboard' %}">Segmentation</a>
          </li>          
          {% if plan.type == plans.PRO and profile %}
          <li role="presentation" {% if tab == "manage-websites" %}class="active"{% endif %}><a href="#manage-websites" aria-controls="manage-websites" role="tab" data-toggle="tab">Manage Websites</a></li>
          {% endif %}
          <li role="presentation" {% if tab == "more" %}class="active"{% endif %} ><a href="#more" aria-controls="more" role="tab" data-toggle="tab">More</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane {% if tab == "install" %}active{% endif %}" id="install">
            <div class="container">
              <div class="row welcome-panel">
                <div class="col-sm-12">
                <h3>Welcome!</h3>
                <p>
                  You now have two quick options to install Push Monkey on your website:
                </p>
                </div><!-- .col -->
                <div class="col-sm-6 text-center">
                  <img src="{{ STATIC_URL }}images/wordpress-logo-small.png" />
                  <h4>On Wordpress</h4>
                  <p>
                    To install Push Monkey on your Wordpress website,<br />please download 
                    the official plugin.
                    <br /><br />
                  </p>
                  <a href="https://wordpress.org/plugins/push-monkey-desktop-push-notifications/" class="btn btn-default">Download Plugin</a>
                </div><!-- .col -->
                <div class="col-sm-6 text-center">

                  <img src="{{ STATIC_URL }}images/html-logo.png" />
                  <h4>Any Platform</h4>
                  <p>
                    To install Push Monkey on your  website, regardless of the back-end or platform, please paste the following code before the <strong><i>&lt;/head&gt;</i></strong> tag.
                    <br />
                    <br />
                  </p>
                  <!-- Accordion -->
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="heading-default">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-default" aria-expanded="true" aria-controls="collapse-default">
                            For {{ profile.website_name }}
                          </a>
                        </h4>
                      </div>
                      <div id="collapse-default" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-default">
                        <div class="panel-body">
                          <textarea class="code" rows="3"><!-- Push Monkey code -->
<link id="pm-manifest" rel="manifest" href="https://getpushmonkey.com/manifest-{{ profile.account_key }}.json"><script type="text/javascript" id="pm-sdk" src="https://getpushmonkey.com/sdk/config-{{ profile.account_key }}.js?not_wp=1"></script></textarea>        
                        </div>
                      </div>
                    </div>
                    {% for website in websites %}
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="heading-{{ forloop.counter }}">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse-{{ forloop.counter }}">
                            For {{ website.website_name }}
                          </a>
                        </h4>
                      </div>
                      <div id="collapse-{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ forloop.counter }}">
                        <div class="panel-body">
                          <textarea class="code" rows="3"><!-- Push Monkey code -->
<link id="pm-manifest" rel="manifest" href="https://getpushmonkey.com/manifest-{{ profile.account_key }}.json"><script type="text/javascript" id="pm-sdk" src="https://getpushmonkey.com/sdk/config-{{ website.account_key }}.js?not_wp=1"></script></textarea>        
                        </div>
                      </div>
                    </div>                    
                    {% endfor %}
                  </div>
                </div><!-- .col -->
              </div><!-- .row -->
            </div>
          </div>
          <div role="tabpanel" class="tab-pane {% if tab == "stats" %}active{% endif %}" id="stats">
            <div class="container">
              <div class="row panel">
                <div class="col-sm-12 left-statics">
                  <h3>Statistics</h3>
                  {% if websites %}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="btn-group">
                        <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select website to show statistics for <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="{% url 'dashboard' %}?ak={{ profile.account_key }}">
                              {% if account_key == profile.account_key %}
                              <strong>{{ profile.website_name }} (current) </strong>
                              {% else %}
                              {{ profile.website_name }}
                              {% endif %}
                            </a>
                          </li>                          
                          {% for w in websites %}
                          <li>
                            <a href="{% url 'dashboard' %}?ak={{ w.account_key }}">
                              {% if account_key == w.account_key %}
                              <strong>{{ w.website_name }} (current) </strong>
                              {% else %}
                              {{ w.website_name }}
                              {% endif %}
                            </a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div><!-- .col -->
                  </div><!-- .row -->
                  {% endif %}
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="number_box box_light_orange">
                        <p class="box_label hidden-xs">Subscribers</p>
                        <p class="box_label_small visible-xs-block ">Subscribers</p>
                        <p class="box_number hidden-xs">{{ subscribers }}</p>
                        <p class="box_number_small visible-xs-block">{{ subscribers }}</p>
                      </div><!-- .number_box -->
                    </div><!-- .col -->
                    <div class="col-sm-3">
                      <div class="number_box box_light_orange">
                        <p class="box_label hidden-xs">Today's New Subscribers</p>
                        <p class="box_label_small visible-xs-block ">Today's New Subscribers</p>
                        <p class="box_number hidden-xs">{{ daily_subscribers }}</p>
                        <p class="box_number_small visible-xs-block">{{ daily_subscribers }}</p>
                      </div><!-- .number_box -->
                    </div><!-- .col -->
                    <div class="col-sm-3">                      
                      <div class="number_box box_green">

                        <div class="row">
                          <div class="col-sm-12">
                            <p class="box_label hidden-xs">
                              Sent Notifications
                            </p>
                            <p class="box_label_small visible-xs-block">
                              Sent <br> Notifications
                            </p>
                          </div><!-- .col -->                          
                        </div><!-- .row -->
                        <div class="row">
                          <div class="col-sm-3 col-sm-offset-1">
                            <canvas id="doughnut-chart"></canvas>
                          </div><!-- .col -->
                          <div class="col-sm-8 text-left">
                            <p class="box_number hidden-xs">
                              {{ sent_notifications|intcomma }}/{{ max_notifications|intword }}
                            </p>
                            <p class="box_number_small visible-xs-block">
                              {{ sent_notifications|intcomma }}/{{ max_notifications|intword }}
                            </p>                            
                          </div><!-- .col -->
                        </div><!-- .row -->


                      </div><!-- .number_box -->
                    </div><!-- .col -->
                    <div class="col-sm-3">                      
                      <div class="number_box box_orange">
                        <p class="box_label hidden-xs">Notifications</p>
                        <p class="box_label_small visible-xs-block">Notifications</p>

                        <p class="box_number hidden-xs">{{ notifications }}</p>
                        <p class="box_number_small visible-xs-block">{{ notifications }}</p>
                      </div><!-- .number_box -->
                    </div><!-- .col -->
                  </div><!-- .row -->
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Open Rate</h3>
                    </div>
                    <div class="col-sm-12">
                      <div class="chart-wrapper">
                        <canvas id="myChart"></canvas>
                      </div>
                    </div>
                  </div><!-- .row -->
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Most Recent 20 Messages</h3>
                    </div>
                    <div class="col-sm-12">
                      <table class="table table-hover table-striped">              
                        <thead>
                          <tr>
                            <td>Title</td>
                            <td>Message</td>
                            <td>Date</td>
                            <td>Readers</td>
                            <td>Opens</td>
                          </tr>
                        </thead>
                        <tbody>
                        {% for p in push_messages %}
                          <tr>
                            <td>{{ p.title }}</td>
                            <td>{{ p.body }}</td>
                            <td>{{ p.created_at }}</td>
                            <td>{{ p.device_num }}</td>
                            <td>{{ p.opened_num }}</td>
                          </tr>   
                        {% empty %}
                         <tr>
                          <td colspan="5" class="text-center">
                            No notifications sent yet. Why not send one now?
                          </td>
                         </tr>                          
                        {% endfor %}                  
                        </tbody>
                      </table>
                    </div><!-- .row -->
                  </div><!-- .row -->  
                </div>      
              </div><!-- .row -->
            </div>
          </div>
          <div role="tabpanel" class="tab-pane {% if tab == "send-notification" %}active{% endif %}" id="send-notification">
            <div class="container">
              <div class="row panel">
                <div class="col-sm-7">
                  <h3>Send Custom Push Notification</h3>
                  {% if website %}
                  <span>for {{ website.website_name }} ({{ website.website_url }})</span>
                  {% endif %}
                  <div class="form-container top-spacing">
                    <form method="post" class="form-horizontal" id="custom-notification" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="title" class="col-sm-4 control-label">Title</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" maxlength="25" name="title" value="" id="title">
                        </div><!-- .col -->
                      </div>
                      <div class="form-group">
                        <label for="content" class="col-sm-4 control-label">Message</label>
                        <div class="col-sm-8">                
                          <textarea name="body" class="form-control" maxlength="120" rows="3" id="message"></textarea>
                        </div><!-- .col -->
                      </div>                      
                      <div class="form-group">
                        <label for="url" class="col-sm-4 control-label">Landing Page URL</label>
                        <div class="col-sm-8">                
                          <input type="text" maxlength="300" class="form-control" name="url_args" value="">
                        </div><!-- .col -->
                      </div>
                      <div class="form-group">
                        <div class="col-sm-4 text-right">
                          <label for="image" class="control-label">Image</label>
                          <br />
                          <p>Optional. Work only for Chrome.</p>
                        </div>
                        <div class="col-sm-8">                
                          <input type="file" maxlength="300" class="form-control" name="image">
                        </div><!-- .col -->
                      </div>                      
                      <div class="form-group">
                        <div class="col-sm-4 text-right">
                          <label for="scheduled_at" class="control-label">Scheduled At</label>
                          <p><strong>Optional.</strong> Leave blank to send the notifications right now.</p>
                        </div>
                        <div class="col-sm-8">
                          <div class="input-group date" id="datetimepicker">
                            <input type="text" id="scheduled_at" name="scheduled_at" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>                    
                          </div>
                        </div>
                      </div>              
                      {% if websites %}
                      <div class="row">
                        <div class="col-md-4 text-right">
                            <label for="account_keys" class="control-label">Websites</label>
                            <br />
                            <p>to send the notification as.</p>
                        </div>
                        <div class="col-md-8">
                          <div class="input-group">
                            <select id="account_keys" name="account_keys" multiple='multiple'>
                              {% for w in websites %}
                              <option value="{{ w.account_key }}">{{ w.website_name }}</option>
                              {% endfor %}
                              <option value="{{ profile.account_key }}">{{ profile.website_name }}</option>
                            </select>
                          </div><!-- .form-group -->
                          <p>The subcribers of the selected websites will receive the notification
                              as coming from the respective website.</p>
                        </div><!-- .col -->
                      </div><!-- .row -->
                      {% elif profile.account_key %}
                      <input type="hidden" name="account_key" value="{{ profile.account_key }}">
                      {% else %}
                      <input type="hidden" name="account_key" value="{{ website.account_key }}">                      
                      {% endif %}
                      <div class="row">
                        <div class="col-md-4 text-right">
                            <label for="send_to_segments" class="control-label">Segments</label>
                            <br />
                            <p>to send the notification to.</p>
                        </div><!-- .col -->
                        <div class="col-md-8">
                          <div class="input-group">
                            {% if segments %}
                            <select id="send_to_segments" name="send_to_segments" multiple='multiple'>
                              {% for s in segments %}
                              <option value="{{ s.id }}">{{ s.name }}</option>
                              {% endfor %}
                            </select>
                            <p>The subcribers of the selected topics will receive the notification. <a href="{% url 'dashboard' %}?tab=segmentation" >Click here to manage segments.</a></p>                            
                            {% else %}
                            <p>No segments created.</p>
                            {% endif %}                    
                          </div>
                        </div><!-- .col -->
                      </div><!-- .row -->                                
                      <div class="form-group text-right">
                        <div class="col-sm-12">
                          <input type="hidden" name="custom" value="1">
                          <button type="submit" class="btn btn-success">Send</button>
                        </div><!-- .col -->
                      </div><!-- .form-group -->
                    </form>            
                  </div>
                </div><!-- .col -->
                <div class="col-sm-4 col-sm-offset-1">
                  <h3>Preview</h3>
                  <i aria-hidden="true" class="fa fa-chrome"></i>
                  <strong>Chrome on Desktop</strong>
                  <div class="chrome-preview clearfix">
                    <div class="icon">
                      <img src="{{ image.image.url }}" />
                    </div>
                    <div class="body">
                      <p class="title" id="chrome-title">Notification title</p>
                      <p class="message" id="chrome-message">Notification message</p>
                      <p class="source">{% if profile %}{{ profile.subdomain }}{% else %}{{ website.subdomain }}{% endif %}.getpushmonkey.com</p>
                    </div>
                  </div><!-- .chrome-preview -->
                  <i aria-hidden="true" class="fa fa-firefox"></i>
                  <strong>Firefox on Desktop</strong>
                  <div class="firefox-preview clearfix">
                    <div class="icon text-center">
                      <img src="{{ STATIC_URL }}images/firefox.png" class="firefox-icon" />
                    </div>
                    <div class="body">
                      <p class="title" id="firefox-title">Notification title</p>
                      <p class="source">via {% if profile %}{{ profile.subdomain }}{% else %}{{ website.subdomain }}{% endif %}.getpushmonkey.com</p>
                      <p class="message" id="firefox-message">Notification message</p>
                    </div>            
                  </div><!-- .firefox-preview -->
                  <i aria-hidden="true" class="fa fa-safari"></i>
                  <strong>Safari on Desktop</strong>
                  <div class="firefox-preview clearfix">
                    <div class="icon text-center">
                      <img src="{{ image.image.url }}" class="firefox-icon"/>
                    </div>
                    <div class="body">
                      <p class="title" id="safari-title">Notification title</p>
                      <p class="message" id="safari-message">Notification message</p>
                    </div>            
                  </div><!-- .safari-preview -->          
                  <div class="text-right">
                    <a href="{% url 'icon_upload' %}">Want to change icon?</a>
                    <br />
                    <br />            
                  </div>
                </div><!-- .col -->
              </div><!-- .row -->   
              <div class="row">
                <div class="col-sm-12">
                  <h3>Scheduled Notifications</h3>
                </div>
                <div class="col-sm-12">
                  <table class="table table-hover table-striped">              
                    <thead>
                      <tr>
                        <td>Title</td>
                        <td>Message</td>
                        <td>Date</td>
                      </tr>
                    </thead>
                    <tbody>
                    {% for p in scheduled_notifications %}
                      <tr>
                        <td>{{ p.title }}</td>
                        <td>{{ p.body }}</td>
                        <td>{{ p.scheduled_at }}</td>
                      </tr>   
                    {% empty %}
                     <tr>
                      <td colspan="3" class="text-center">
                        No notifications scheduled yet. Why not schedule one now?
                      </td>
                     </tr>                          
                    {% endfor %}                  
                    </tbody>
                  </table>
                </div><!-- .row -->
              </div><!-- .row -->                  
            </div><!-- .container -->
          </div><!-- .tabpanel -->
          {% if plan.type == plans.PRO and profile %}
          <div role="tabpanel" class="tab-pane {% if tab == "manage-websites" %}active{% endif %}" id="manage-websites">
            <div class="container">
              <div class="row panel">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Manage Websites</h3>
                    <p>Because you are on the PRO plan, you can have up to
                    {% if website %}
                    {{ website.cluster.max_number_of_websites }}
                    {% else %}
                    {{ websites.0.cluster.max_number_of_websites }}
                    {% endif %}
                     websites.</p>
                    <div class="text-right">
                        <a class="btn btn-success" href="{% url 'websites' %}">Manage Websites</a>
                        <br />
                        <br />
                    </div>                  
                </div><!-- .col -->
              </div><!-- .row -->
            </div>
          </div><!-- .tabpanel -->
          {% endif %}
          <div role="tabpanel" class="tab-pane {% if tab == "more" %}active{% endif %}" id="more">
            <div class="container">
              <div class="row panel">
                <div class="col-sm-6 col-sm-offset-3 right-details">
                  {% if plan %}
                  <div>
                    <h3>Plan</h3>
                    {% if plan.type == plans.STARTER %}
                    <p>You are currently rocking the <strong>Starter</strong> plan. Good for you!</p>
                    {% elif plan.type == plans.SWEET_SPOT %}
                    <p>You are currently rocking the <strong>Sweet Spot</strong> plan. Awesome!</p>
                    {% elif plan.type == plans.PRO %}
                    <p>You are currently rocking the <strong>Pro</strong> plan. You mean business!</p>
                    {% elif plan.type == plans.TRIAL %}
                    <p>You are currently rocking the <strong>FREE TRIAL</strong> plan. How is that working for you?</p>
                    {% endif %}            

                    <h5>Date activated</h5>
                    <span>{{ plan.start_at|date:"Y M j" }}</span>
                    <h5>Date when plan ends</h5>
                    <span>{{ plan.end_at|date:"Y M j" }}</span>

                    {% if plan.type != plans.PRO %}
                    <div class="text-right">
                        <a class="btn btn-success" href="{% url 'dashboard' %}?upgrade_plan=1">Upgrade Plan</a>
                    </div>
                    {% endif %}

                  </div>
                  {% endif %}

                  <div class="">
                    <h3>Affiliate info</h3>
                    <p>You are part of our affiliate program. Go to your Affiliate Center to see more info and stats.</p>
                    <div class="text-right">
                      <a class="btn btn-success" href="{% url 'affiliates_center' %}">Go to Affiliate Center</a>
                    </div>
                  </div>
                </div><!-- .col -->
              </div><!-- .row -->
            </div>
          </div>
        </div>
      </div><!-- .row -->
    </div><!-- #dashboard -->
  </div>
  <!-- .website-content -->
</div>
{% endblock %}

{% block closingjs %}

<div class="modal fade" tabindex="-1" role="dialog" id="custom-notification-success">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-left">Success</h2>
      </div>
      <div class="modal-body">
        <p>Notification successfully sent!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="custom-notification-failed">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title text-left">Error</h2>
      </div>
      <div class="modal-body">
        <p>Something went wrong. Please check all the fields and try again.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="plan-selection-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                    {% if not already_had_trial %}
                        Welcome onboard! 
                        {% if not has_preselected_plan %}
                        You seem to be new around here
                        {% endif %}
                    {% else %}
                        Sign up for a new plan.
                    {% endif %}
                </h4>
            </div>
            <div class="modal-body">
                {% if not has_preselected_plan  %}
                <p>
                    Please select a pricing plan to start sending <strong>Desktop Push Notifications</strong>. See the options below.
                </p>
                <div id="pricing">
                    {% include 'home/pricing-table.html' %}
                </div>
                {% else %}
                <div class="row preselected_plan">
                    <div class="col-lg-3 col-lg-offset-3 price-table">
                        {% if plan_type = plans.STARTER %}
                        <div class="price-col second-tier">
                            <h4>Starter</h4>
                            <div class="price-row-light">10k Notifications</div>
                            <div class="price-row">Statistics</div>
                            <div class="price-row-light">Granular Filtering</div>
                            <div class="price-row last-row">Custom Branded</div>
                        </div>
                        {% elif plan_type = plans.SWEET_SPOT %}
                        <div class="price-col first-tier">
                            <h4>Sweet Spot</h4>
                            <div class="price-row-light">100k Notifications</div>
                            <div class="price-row">Statistics</div>
                            <div class="price-row-light">Granular Filtering</div>
                            <div class="price-row">Custom Branded</div>
                            <div class="price-row-light last-row">Data Export</div>
                        </div>
                        {% elif plan_type = plans.PRO %}
                        <div class="price-col second-tier">
                            <h4>Pro</h4>
                            <div class="price-row-light">1mil Notifications</div>
                            <div class="price-row">Statistics</div>
                            <div class="price-row-light">Granular Filtering</div>
                            <div class="price-row">Custom Branded</div>
                            <div class="price-row-light">Data Export</div>
                            <div class="price-row">Lovable Support</div>
                            <div class="price-row-light last-row">5 Websites</div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-3">
                        <p>
                            You have chosen the
                            <strong>
                            {% if plan_type = plans.STARTER %}
                            Starter Plan
                            {% elif plan_type = plans.SWEET_SPOT %}
                            Sweet Spot Plan
                            {% elif plan_type = plans.PRO %}
                            Pro Plan
                            {% endif %}
                            </strong>. Please continue to the payment overview to finalize your order.
                        </p>
                        <div class="text-center">
                            <a class="btn btn-success" href="{% url 'payment_overview' plan_type_length plan_type %}">Payment Overview</a>
                            <a href="{% url 'dashboard' %}?change_plan=1" class="btn btn-info"> Change selected plan?  </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    {% if has_preselected_plan %}
                    <br /> <br /> <br /> <br />
                    {% endif %}
                    {% if not already_had_trial %}
                    <div class="col-lg-9 free-trial-desc">
                        <p>
                            If you're not sure about which price plan is right for you, you can choose our <strong> 14 days FREE Trial</strong>. No credit-cards, no
                            commitment required.
                        </p>
                    </div>
                    <div class="col-lg-3 col-xs-6 free-trial-button">
                        <a class="btn btn-success btn-block" href="{% url 'trial_thank_you' %}">Start FREE Trial</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    {% if not plan or has_only_expired_plans or wants_to_upgrade %}
    $(function(){

      $('div#plan-selection-modal').modal();
    });
    {% endif %}
</script>
{% endblock %}
