{% extends "base.html" %}

{% block title %}Password Reset for Push Monkey - Desktop Push Notifications for Wordpress - Easy-to-use direct engagement{% endblock %}

{% block content %}
<div class="header-background inner-background">
  <div class="site-inner">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

    {% include 'navigation-sticky.html' %}        

    <div class="fullheader-banner inner-banner text-left">
      <div class="container">

        <h3>Password Reset</h3>
        <h4></h4>

      </div>
    </div>
  </div>
</div>



<div class="site-inner">
  <div id="content" class="website-content">
    <div class="container" id="login">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <div class="form-container top-spacing">
            {% if form.non_field_errors %}
            <div class="non-field-errors">
              {{ form.non_field_errors }}
            </div>
            {% endif %}
            <form action="{% url 'password_reset' %}" method="post">
              <div class="top">
                <div class="full">

                  <input type="text" name="{{ form.email.html_name }}" class="form-control" placeholder="E-mail">
                  {{ form.email.errors }}                            

                </div><!-- .col -->

                {% csrf_token %}
                <input type="submit" name="submit" class="btn btn-lg btn-success" value="Reset">

              </div>
            </form>
            <div class="bottom">
              <p>Don't have an account yet?</p>
              <a href="{% url 'register' %}" class="btn btn-success signup">Sign Up</a>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div> 
  </div>
  <!-- .website-content -->
</div>
{% endblock %}
