{% extends "base.html" %}

{% block content %}
<div class="header-background inner-background">
    <div class="site-inner">
        <a class="skip-link screen-reader-text" href="#content">Almost done!</a>
        {% include 'navigation-sticky.html' %}        
        <div class="fullheader-banner inner-banner text-left">
            <div class="container">

                <h3>Password Reset</h3>
                <h4></h4>

            </div>
        </div>
    </div>
</div>

<div class="site-inner">
    <div id="content" class="website-content">
        <div class="site-inner">
            <div id="content" class="website-content">
                <div class="container" id="login">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">

                            <p>Please check you e-mail inbox for an email with a password reset link. Click that link to... we're sure you know why :)</p>
                            <a class="btn btn-success btn-block center-block btn-lg" href="{% url 'login' %}">Sign In</a>

                        </div>
                    </div><!-- /.row -->
                </div> 
            </div>
            <!-- .website-content -->
        </div>
    </div>
</div>
{% endblock %}
