{% extends "base.html" %}

{% block content %}

<div id="page" class="site">

  <div class="header-background inner-background">
    <div class="site-inner">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

      {% include 'navigation-sticky.html' %}

      <div class="fullheader-banner inner-banner text-left">
        <div class="container">

          <h3>You rock!</h3>
          <h4>
            You're almost done. Please check you e-mail inbox for an email with a confirmation link. Click that link to... we're sure you know why :)
          </h4>
        </div>
      </div>


    </div>
  </div>  

  <div class="site-inner">
    <div id="content" class="website-content">
      <div id="primary" class="webcontent-area">
        <main id="main" class="site-main">

          <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-sm-offset-4">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element  pushmonkey-dollartext">

                  <a class="btn btn-success btn-block center-block btn-lg" href="{% url 'login' %}">Back</a>

                </div>
              </div>
            </div>
          </div>


        </main>
      </div>
    </div>
  </div>
{% endblock %}
