{% extends "base.html" %}

{% block title %}Image Upload - {% endblock %}

{% block content %}

<div class="header-background inner-background">
  <div class="site-inner">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    {% include 'navigation-sticky.html' %}
    <div class="fullheader-banner inner-banner text-left">
      <div class="container">
        <h3>Change Icon for {{ website.website_name }}</h3>        
      </div>
    </div>
  </div>
</div>


<div class="site-inner">
  <div id="content" class="website-content">
    <div class="container" id="icon-upload">

      {% if messages %}
      {% for message in messages %}
      <div class="row">
        <div class="col-md-12">
          <p class="bg-{{ message.tags }}">{{ message }}</p>
        </div><!-- .col -->
      </div><!-- .row -->
      {% endfor %}
      {% endif %}

      <div class="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation">
            <a href="{% url 'dashboard' %}?tab=install" class="tab-install">How To Install</a>
          </li>          
          <li role="presentation" class=""><a href="{% url 'dashboard' %}?tab=stats">Stats</a></li>
          <li role="presentation" class=""><a href="{% url 'dashboard' %}?tab=send-notification">Send Notifications</a></li>
          <li role="presentation" class=""><a href="{% url 'dashboard' %}?tab=manage-websites">Manage Websites</a></li>
          <li role="presentation"><a href="{% url 'dashboard' %}?tab=more">More</a></li>
        </ul>
      </div><!-- .row -->   


      <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
          <p>
            <br />
            Please upload an icon that you wish to appear together with each notification. Usually your site icon. 
            <br />
            Ideally square. And colorful. And recognizable...
            <br /> <br /> 
          </p>
        </div><!-- .col -->
      </div><!-- .row -->

      <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
          <div class="form-container top-spacing">
            {% if form.non_field_errors %}
            <div class="non-field-errors">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                <div class="form-group top text-center">
                    {{ form.image }}
                    {{ form.image.errors }}
                    <br />
                    <input type="submit" name="submit" class="btn btn-lg btn-success" value="Upload" />
                </div>
                {% csrf_token %}
            </form>
            <div class="bottom">
                <p>
                    Upload the logo for your website. It will appear inside the Push Notification received by your readers. 
                    We will generate all the required sizes. <strong>Ideally, the image you upload is square.</strong>
                </p>
            </div><!-- .bottom -->
          </div><!-- .form-container -->
        </div><!-- .col -->

        <div class="col-lg-4 col-lg-offset-2">
          <div class="notification-placeholder">
            <h3 class="text-center">Preview</h3>
            <img src="{{ STATIC_URL }}images/notification-image-upload-placeholder.png" />
            <div class="notification">
              {% if website_icon %}
              <img src="{{ website_icon.image.url }}" class="icon"/>
              {% else %}
              <img src="{{ STATIC_URL }}web.com.rhcloud.wptest-pushmonkey/pushPackage/iconset/icon_32x32.png" class="icon"/>
              {% endif %}
              <p>
                  <strong>Something cool will launch</strong><br /> 
                  From today onward, readers can stay up-to-date with news in the most direct ...
              </p>
            </div>
          </div><!-- .notification-placeholder -->
        </div><!-- .col - -->
      </div><!-- .row --> 

    </div><!-- .container -->
  </div><!-- #content -->
</div><!-- .site-inner -->


{% endblock %}
