{% extends 'base.html' %}

{% block title %}Payment Overview - {% endblock %}

{% block content %}
<div class="header-background inner-background">
  <div class="site-inner">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    {% include 'navigation-sticky.html' %}
    <div class="fullheader-banner inner-banner text-left">
      <div class="container">
        <h3>Payment overview</h3>
      </div>
    </div>
  </div>
</div>

{% if messages %}
<div class="col-lg-12">
    <div class="non-field-errors">
        <ul class="errorlist">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
</div><!-- .col -->
{% endif %}

<div class="site-inner" id="payment-overview">
  <div id="content" class="website-content">
    <div class="container">

      <div class="vc_row wpb_row vc_inner vc_row-fluid startnow_monkeybox">

        <div class="colortheme-blue wpb_column vc_column_container vc_col-sm-2">
          <div class="vc_column-inner text-center">
            <div class="wpb_wrapper">
              <h2>1</h2>
            </div>
          </div>          
        </div><!-- .col -->

        <div class="colortheme-blue wpb_column vc_column_container vc_col-sm-3 vc_col-sm-offset">
          <div class="vc_column-inner text-center">
            <div class="wpb_wrapper">

              {% if selected_plan == plans.STARTER %}              
              <div class="wpb_text_column wpb_content_element startnow_heading">
                <div class="wpb_wrapper">
                  <p>Starter</p>
                </div>
              </div>
              <div class="wpb_text_column wpb_content_element startnow_content">
                <div class="wpb_wrapper">
                  <ul>
                    <li>Unlimited Subscribers</li>
                    <li>10k Notifications</li>
                    <li>Statistics</li>
                    <li>Granular Filtering</li>
                    <li>Custom Branded</li>
                    <li>Segmentation</li>
                  </ul>
                </div>
              </div>
              {% elif selected_plan == plans.SWEET_SPOT %}              
              <div class="wpb_text_column wpb_content_element startnow_heading">
                <div class="wpb_wrapper">
                  <p>Sweet Spot</p>
                </div>
              </div>
              <div class="wpb_text_column wpb_content_element startnow_content">
                <div class="wpb_wrapper">
                  <ul>
                    <li>Unlimited Subscribers</li>
                    <li>500k Notifications</li>
                    <li>Statistics</li>
                    <li>Granular Filtering</li>
                    <li>Custom Branded</li>
                    <li>Segmentation</li>
                    <li>Data Export</li>
                  </ul>                
                </div>
              </div>              
              {% elif selected_plan == plans.PRO %}
              <div class="wpb_text_column wpb_content_element startnow_heading">
                <div class="wpb_wrapper">
                  <p>Pro</p>
                </div>
              </div>
              <div class="wpb_text_column wpb_content_element startnow_content">
                <div class="wpb_wrapper">
                  <ul>
                    <li>Unlimited Subscribers</li>
                    <li>1.5 mil Notifications</li>
                    <li>Statistics</li>
                    <li>Granular Filtering</li>
                    <li>Custom Branded</li>
                    <li>Segmentation</li>
                    <li>Data Export</li>
                    <li>Lovable Support</li>
                    <li>5 Websites</li>
                  </ul>               
                </div>
              </div>                
              {% endif %}
            </div>
          </div>
        </div><!-- .col -->
        <div class="colortheme-blue wpb_column vc_column_container vc_col-sm-2">
          <div class="vc_column-inner text-center">
            <div class="wpb_wrapper">
              <h2>2</h2>
            </div>
          </div>          
        </div><!-- .col -->
        <div class="colortheme-blue wpb_column vc_column_container vc_col-sm-4">
          <div class="vc_column-inner text-center">
            <div class="wpb_wrapper step-2">
              <h3>Select Payment Type</h3>
              {% if coupon %}
                  {% if coupon.should_show_monthly %}
                      <a href="javascript:void(0);" title="{{ plan_name_monthly }}" rel="{{ price_monthly }}-M" class="btn btn-success btn-lg btn-block {% if monthly_selected %}btn-active{% endif %}">
                          <span class="glyphicon glyphicon-ok {% if not monthly_selected %}hidden{% endif %}"></span>
                          Monthly <br /> <span class="currency">$</span>{{ price_monthly }}/month
                      </a>
                  {% elif coupon.should_show_yearly %}
                      <a href="javascript:void(0);" title="{{ plan_name_yearly }}" rel="{{ price_yearly }}-Y" class="btn btn-success btn-lg btn-block triple-line {% if yearly_selected %}btn-active{% endif %}">
                          <span class="glyphicon glyphicon-ok {% if not yearly_selected %}hidden{% endif %}"></span>
                          Yearly <br /> 
                          <span>$</span>{{ price_yearly }}/year
                      </a>
                  {% endif %}
              {% else %}
              <a href="javascript:void(0);" title="{{ plan_name_monthly }}" 
                  rel="{{ price_monthly }}-M" class="btn btn-success btn-lg btn-block {% if monthly_selected %}btn-active{% endif %}">
                  <span class="glyphicon glyphicon-ok {% if not monthly_selected %}hidden{% endif %}"></span>
                  <span class="currency">$</span>{{ price_monthly }}/month
                  <br /> 
                  paid monthly
              </a>
              <a href="javascript:void(0);" title="{{ plan_name_yearly }}" 
                  rel="{{ full_price_yearly }}-Y" class="btn btn-success btn-lg btn-block {% if yearly_selected %}btn-active{% endif %}">
                  <span class="glyphicon glyphicon-ok {% if not yearly_selected %}hidden{% endif %}"></span>
                  <span>$</span>{{ price_yearly }}/month
                  <br /> 
                  paid yearly
              </a>
              {% endif %}
            </div>
          </div>          
        </div><!-- .col -->  



        <div class="colortheme-blue wpb_column vc_column_container vc_col-sm-2">
          <div class="vc_column-inner text-center">
            <div class="wpb_wrapper">
              <h2>3</h2>
            </div>
          </div>          
        </div><!-- .col -->

        <div class="wpb_column vc_column_container vc_col-sm-4">
          <div class="vc_column-inner text-center pay-form">

              <h3>Pay</h3>
              {{ form.render }}
              <p>
                <span class="glyphicon glyphicon-lock"></span>
                Payments info securely proccessed directly by PayPal. 
                You will be redirected to paypal.com.
              </p>

          </div>          
        </div><!-- .col -->               
      </div><!-- .row --> 
      </div><!-- .row -->
      <br />
      <div class="vc_row wpb_row vc_inner vc_row-fluid startnow_monkeybox">


      {% if coupon %}
      <div class="vc_row wpb_row vc_inner vc_row-fluid startnow_monkeybox">
        <div class="colortheme-blue wpb_column vc_column_container vc_col-sm-4 vc_col-sm-offset-7">
          <div class="vc_column-inner text-center">
            <div class="wpb_wrapper">
              <p class="text-center">
                  Using Coupon code: {{ coupon.string }}
                  <a href="{% url 'payment_overview' plan_type selected_plan %}">Remove</a>
              </p>
            </div>
          </div>          
        </div><!-- .col -->
      </div><!-- .row -->     
      {% else %}               

      <div class="vc_row wpb_row vc_inner vc_row-fluid startnow_monkeybox">
        <div class="colortheme-blue wpb_column vc_column_container vc_col-sm-4 vc_col-sm-offset-7">
          <div class="vc_column-inner text-center">
            <div class="wpb_wrapper">
              <p class="text-center">
                  <strong>Have a discount coupon?</strong>
                  <a href="javascript:void(0);" data-toggle="modal" data-target="#discount-coupon-modal">Click here to redeem it.</a>
              </p>
            </div>
          </div>          
        </div><!-- .col -->

      {% endif %}  



      </div><!-- .row -->   
      <div class="vc_row wpb_row vc_inner vc_row-fluid startnow_monkeybox">
        <div class="colortheme-blue wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner text-center">
              <h1>Essential Features</h1>
          </div>          
        </div><!-- .col -->
        <div class="colortheme-blue wpb_column vc_column_container vc_col-sm-4">
          <div class="vc_column-inner text-center">
            <div class="wpb_wrapper">
                <img src="{{ STATIC_URL }}images/push-monkye-easy-integration.png" alt="">
                <h3>Easy-to-integrate</h3>
                <p>Our monkeys wrote a single-purpose and highly focused Wordpress plugin so you can publish your content.</p>              
            </div>
          </div>          
        </div><!-- .col -->
        <div class="colortheme-blue wpb_column vc_column_container vc_col-sm-4">
          <div class="vc_column-inner text-center">
            <div class="wpb_wrapper">
                <img src="{{ STATIC_URL }}images/push-monkey-stats.png" alt="">
                <h3>Stats</h3>
                <p>Beautiful and easy-to-understand statistics for the Push Monkey performance are available directly in your Wordpress Dashboard</p>
            </div>
          </div>          
        </div><!-- .col -->
        <div class="colortheme-blue wpb_column vc_column_container vc_col-sm-4">
          <div class="vc_column-inner text-center">
            <div class="wpb_wrapper">
                <img src="{{ STATIC_URL }}images/push-monkey-automatic.png" alt="">
                <h3>Automatic</h3>
                <p>Sent automatically when you publish a new post. Or not. It’s your choice, thanks to <a href="/">granular filtering</a></p>       
            </div>
          </div>          
        </div><!-- .col -->                     
      </div><!-- .row -->
    </div>
  </div>
</div>
{% endblock %}


{% block closingjs %}
<div class="modal fade" id="discount-coupon-modal" role="dialog">
    <form method="post" action="{% url 'payment_apply_coupon' %}">
        {% csrf_token %}
        {{ coupon_form.selected_plan }}
        {{ coupon_form.time_unit }}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Discount Coupon</h4>
                </div>
                <div class="modal-body">
                    <p>Enter discount coupon code below:</p>
                    <input type="text" class="form-control" name="{{ coupon_form.coupon_string.html_name }}" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-success" value="Apply Discount Coupon" />
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->
<script type="text/javascript">
    $(function(){
            $('#payment-overview div.step-2 .btn').click(function() {
                var el = $(this);
                var a3Input = $('div.pay-form form input#id_a3');
                var t3Input = $('div.pay-form form input#id_t3');
                var itemNameInput = $('div.pay-form form input#id_item_name');
                if(!el.hasClass('btn-active')) {

                    el.addClass('btn-active');
                    el.siblings().removeClass('btn-active');
                    el.find('span.glyphicon').removeClass('hidden');
                    el.siblings().find('span.glyphicon').addClass('hidden')
                    var rel = el.attr('rel');
                    var values = rel.split("-");//e.g. 1-M for plan 1, monthly; 3-Y for plan 3, yearly;
                    var title = el.attr('title');
                    a3Input.attr('value', values[0]);
                    t3Input.attr('value', values[1]);
                    itemNameInput.attr('value', title);
                }
                });
            });
</script>
{% endblock %}
